#ignore these
.sass-cache/
_site/

#ignore all images
assets/img/*
!assets/img/Logo/
!assets/img/Logo/*

#this is the landing page image
!assets/img/SUMO
assets/img/SUMO/*
!assets/img/SUMO/good.jpg

#this is the team page image
!assets/img/Combat
assets/img/Combat/*
!assets/img/Combat/Cover Photo.jpg

#this is the about page banner
!assets/img/Utra Exec Photoshoot 171120/
assets/img/Utra Exec Photoshoot 171120/*
!assets/img/Utra Exec Photoshoot 171120/DSC_4016.jpg

# about page Photo
!assets/img/Utra Exec Photoshoot 171120/headshots/
# assets/img/Utra Exec Photoshoot 171120/headshots/*

# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3942.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3865.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3875.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3889.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3807.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3822.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3834.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3844.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3850.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3851.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_4007.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3918.jpg
# !assets/img/Utra Exec Photoshoot 171120/headshots/DSC_3937.jpg

# hackathon images
!assets/img/hackathonIcons/
!assets/img/hackathonIcons/**

# team images
!assets/img/Team Photos/
!assets/img/Team Photos/**

# Sponsors
!assets/img/Sponsors/
!assets/img/Sponsors/**

# 3dp photos
!assets/img/3DP/
!assets/img/3DP/**

# combat photos
!assets/img/Combat/
!assets/img/Combat/**

# robosoccer photos
!assets/img/RoboSoccer/
!assets/img/RoboSoccer/**

# pacbot photos
!assets/img/Pacbot/
!assets/img/Pacbot/**

# Exec photos
!assets/img/exec_photo_2022