<div class="footer-content" >
	<div class="footer-text">
		&copy 2023 University of Toronto Robotics Association
	</div>
	<br>
	<div class="social-icons">
		<a href="https://www.facebook.com/UTRA.ca/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
		<a href="https://www.instagram.com/utra_uoft/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
		<a href="mailto:utra@utra.ca" target="_blank"><ion-icon name="mail-outline"></ion-icon></a>
		<a href="https://www.tiktok.com/@utra_uoft?lang=en" target="_blank"><ion-icon name="logo-tiktok"></ion-icon></a>
		<a href="https://www.linkedin.com/company/university-of-toronto-robotics-association/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
		<a href="https://www.youtube.com/channel/UCfkSBsYT7MrfTukOO924nyg" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>


		
	</div>
</div>
