<div class="logo logo--header">
	<a href="{{ "/" | relative_url }}">
		<img class="logo__desktop" src="{{ site.baseurl }}/assets/img/Logo/utraLogoWhite.png" alt="UTRA"> 
		<img class="logo__mobile" src="{{ site.baseurl }}/assets/img/Logo/utraLogoWhiteMobile.png" alt="UTRA"> 
	</a>
</div>

<nav class="mainMenu">
	<div class="mainMenu__mobileNav">
		<i id="mobileNav__open" class="mainMenu__mobileNavIcon ion-md-menu"></i>
		<i id="mobileNav__close" class="mainMenu__mobileNavIcon mainMenu__mobileNavIcon--noDisplay icon ion-md-close"></i>
	</div>
	<ul class="mainMenu__list">
		<li class="mainMenu__menuItem mainMenu__menuItem--about"><a href="{{"/about" | relative_url}}">About</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--teams"><a href="{{"/teams" | relative_url}}">Teams</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--events"><a href="{{"/events" | relative_url}}">Events</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--sponsors"><a href="{{"/sponsors" | relative_url}}">Sponsors</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--faq"><a href="{{"/faq" | relative_url}}">FAQ</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--getinvolved"><a href="https://forms.gle/EujDZp6rXsqmxZWS7">Get Involved</a></li>
	</ul>
</nav>