<!-- compiled css file -->
<link rel="stylesheet" type="text/css" href="./assets/css/main.css">
<!-- ionicons css -->
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Abel Font -->
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

<!-- loading JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- javascript -->
<script type="text/javascript" src="./assets/js/header.js" ></script>