@import 'variables';

.aboutPageWrapper{
	position: relative;
	display: flex;
	flex-direction: row;

	//margin
	margin-top: 4vw;
}

//side menu
.sideMenu{
	position: relative;
	top: 0;
	height: 190px;
	//margins
	margin-top: calc(30px + 6%);
	margin-right: 5vw;
	margin-left: 5vw;

	@media only screen and (max-width: 1049px) {
		// mobile
		display: none;

	}
	.sideMenu__titleText{
		
		//font stuff
		font-size: 1.9em;
		font-weight: 500;
		color: $heading-color;

		//red underline
		&:after{
			display: block;
			content: '';
			height: 3px;
			width: 26.5px;
			background-color: #CD959A;
			margin-top: 10px;
		}
	}

	.sideMenu__list{
		list-style-type: none;
		margin-top: 25px;
		.sideMenu__menuItem{
			padding: 2.5px 0px 0px 2.5px;
			font-size: 1.2em;
			color: $heading-color;
			opacity: 0.8;
			cursor: pointer;
			transition: color 0.2s;

			&:hover{
				color: $light-red;
			}
			&.sideMenu__menuItem--active{
				color: $light-red;
			}
		}
	}

}

//text block
.infoBlock{
	background-color: #F5F9FC;
	flex: 1;
	margin-right: 10vw;

	//padding
	padding-top: calc(30px + 6%);
	padding-bottom: calc(30px + 6%);
	padding-left: calc(20px + 7.5%);
	padding-right: calc(20px + 7.5%);

	@media only screen and (max-width: 1049px) {
		// mobile
		margin-left: 2.5vw;
		margin-right: 2.5vw;
		margin-top: 10px;

		padding-left: 30px;
		padding-right: 30px;

	}

	.infoBlock__title{
		position: relative;

		//font stuff
		font-weight: 700;
		color: $heading-color;
		
		//margin stuff
		margin-top: 20px;
		margin-bottom: 20px;
		&:first-child{
			margin-top: 0px;
		}
		@media only screen and (max-width: 1049px) {
			font-size: 1.5em;
			&.infoBlock__title--caption{
				font-size: 2em;
			}
		}
		@media only screen and (min-width: 1050px) {
			// desktop
			font-size: 2em;
			&.infoBlock__title--caption{
				font-size: 3em;
				font-weight: 800;
			}
		}
			
	}
	.infoBlock__paragraph{
		line-height: 25px;

		//font stuff
		color: $paragraph-color;
		opacity: 0.8;

		//margin stuff
		margin-top: 20px;
		margin-bottom: 20px;
		&.infoBlock__paragraph--center{
			text-align: center;
		}
	}
}

.infoBlock__executiveWrapper{
	position: relative;

	.infoBlock__execSectionTitle{
		font-size: 1.6em;
    	text-align: center;
    	padding-bottom: 10px;
    	padding-top: 10px;
	}

	.infoBlock__execRow{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;

		padding-top: 10px;
		padding-bottom: 10px;

		@media only screen and (max-width: 1049px){
			flex-direction: column;

		}
	}

	.infoBlock__execImageWrapper{
		position: relative;
		width: 20%;
		padding-bottom: 24.5%;
		margin-left: 10px;
		margin-right: 10px;

		@media only screen and (max-width: 1049px){
			width: 100%;
			padding-bottom: 50%;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 0px;
			margin-right: 0px;
		}

		&:nth-child(odd){
			.infoBlock__execImage{
				margin-right: 10%;
				left: 0;
			}
			.infoBlock__execFader{
				right: 0;
			}
		}
		&:nth-child(even){
			.infoBlock__execImage{
				margin-left: 10%;
				right: 0;
			}
			.infoBlock__execFader{
				left: 0;
			}
		}
	}

	.infoBlock__execImage{
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: 100% auto;

		border-radius: 5px;

		@media only screen and (max-width: 1049px){
			width: 40%;
		}		

		&.infoBlock__execImage--Filler{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Filler.png");
		    background-position: 50% 7%;
  	  		background-size: auto 130%;
    		background-repeat: no-repeat;

		}
		&.infoBlock__execImage--Sarah{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Sarah.jpeg");
			background-position: 50% 50%;
			background-size: auto 200%;
		}
		&.infoBlock__execImage--Johnny{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Johnny.jpg");
		}
		&.infoBlock__execImage--Zoe{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Zoe.jpg");
		}
		&.infoBlock__execImage--Jason{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Jason.jpg");
		}
		&.infoBlock__execImage--Helen{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Helen.jpg");
			background-position: center;
   			background-size: auto 100%;
		}
		&.infoBlock__execImage--MichaelR{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/MichaelR.jpeg");
		}
		&.infoBlock__execImage--Chloe{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Chloe.jpg");
		    background-position: 40% 70%;
   			background-size: auto 150%;
		}
		&.infoBlock__execImage--Kailin{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Kailin.jpg");
		    background-position: 60% 50%;
    		background-size: auto 150%;
		}
		&.infoBlock__execImage--BaoTian{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/BaoTian.jpg");
		}
		&.infoBlock__execImage--MichaelD{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/MichaelD.jpg");
			background-position: 70% 0%;
    		background-size: auto 215%;
		}
		&.infoBlock__execImage--Yuxuan{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Yuxuan.jpg");
			background-position: 50% 50%;
    		background-size: auto 135%;
		}
		&.infoBlock__execImage--Trudie{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Trudie.jpg");
			background-position: 50% 25%;
			background-size: auto 115%;
		}
		&.infoBlock__execImage--Jennie{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Jennie.jpg");
			background-position: 50% 50%;
			background-size: auto 100%;
		}
		&.infoBlock__execImage--Shashwat{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Shashwat.jpg");
			background-position: 50% 50%;
			background-size: auto 100%;
		}
		&.infoBlock__execImage--Matthew{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Matthew.jpg");
			background-position: 50% 50%;
			background-size: auto 100%;
		}
		&.infoBlock__execImage--Rishikesh{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Rishikesh.jpg");
			background-position: 50% 50%;
			background-size: auto 100%;
		}
		&.infoBlock__execImage--Sarp{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Sarp.jpg");
			background-position: 50% 50%;
			background-size: auto 109%;
		}
		&.infoBlock__execImage--JasonY{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/JasonY.jpg");
			background-position: 43% 50%;
    		background-size: auto 187%;
		}
		&.infoBlock__execImage--Hunter{
			background-image: url($baseurl + "/assets/img/UTRA Exec Photoshoot 171120/headshots/Hunter.jpg");
			background-position: 68% 50%;
    		background-size: auto 105%;
		}
	}

	.infoBlock__execFader{
		position: absolute;
		background-color: $background-color-light;
		opacity: 0;
		transition: opacity 0.2s;
		height: 100%;
		width: 100%;
		z-index: 2;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.infoBlock__execName{
			position: relative;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 1;
			pointer-events: none;
			color: $heading-color;
			font-weight: 600;
		}

		.infoBlock__execPosition{
			position: relative;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 1;
			pointer-events: none;
			color: $heading-color;
		}
		.infoBlock__execYear{
			position: relative;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 1;
			pointer-events: none;
			color: $heading-color;
		}
		.infoBlock__execSocial{
			position: relative;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 1;

			i{
				font-size: 1.5em;
				color: $heading-color;
			}
		}

		@media only screen and (max-width: 1049px){
			width: 50%;
			transition: none;
			opacity: 1;
			pointer-events: none;
			
			.infoBlock__execName{
				transition: none;
				opacity: 1;
			}
			.infoBlock__execPosition{
				transition: none;
				opacity: 1;
			}
			.infoBlock__execYear{
				transition: none;
				opacity: 1;
			}
			.infoBlock__execSocial{
				transition: none;
				opacity: 1;
			}
		}

		&:hover{
			opacity: 0.8;

			.infoBlock__execName{
				opacity: 1;
			}
			.infoBlock__execPosition{
				opacity: 1;
			}
			.infoBlock__execYear{
				opacity: 1;
			}
			.infoBlock__execSocial{
				opacity: 1;
			}
		}
	}
}

// .columnWrapper{
// 	display: flex;
// 	flex-direction: row;
// 	position: relative;
// 	height: 400px;
// 	.form{
// 		flex: 2;
// 		height: 100%;
// 		.infoBlock__paragraph{
// 			margin-top: 0px;
// 		}
// 	}
// 	.map{
// 		flex: 2;
// 		height: 100%;
// 	}

// }

.map{
	width: 100%;
	height: 70vh;
}

#googleMaps{
	width: 100%;
	height: 100%;
}
