#bannerImage{
	width:100%;
	height: 800px;
	overflow: hidden;
	position: relative;
	#titleText{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		color: #fff;
		z-index: 2;

		//
		font-size: 5em;
	}
	#imageOverley{
		position: absolute;	
		z-index: 1;
	}
	#aboutImage{
		position: absolute;
		width: 100vw;
	}
}