.bannerImage{
	width:100%;
	height: 100vh;
	overflow: hidden;
	position: relative;

	//Responsive Stuff
	@media only screen and (max-width: 1049px) {
		// Mobile
		.bannerImage__bannerImage__hackathonTextBlock{
			.buttonBlock{
				align-items: center;
				flex-direction: column;
			}
			.buttonBlock__twoCol{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		.bannerImage__image{
			&.bannerImage__image{
				background-position: 50% 25%;
			}
		}
	} 
	@media only screen and (min-width: 1050px) {
		// Desktop
		.bannerImage__bannerImage__hackathonTextBlock{
			padding-top: 20px;
			.buttonBlock{
				justify-content: center;
				padding-top: 15px;
			}
			.buttonBlock__twoCol{
				margin-left: 35px;
				margin-right: 35px;
			}
		}
		.bannerImage__image{
			&.bannerImage__image{
				background-position: 50% 30%;
			}	
		}
	} 
	.bannerImage__textBlock{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		z-index: 2;
		.textBlock__titleText{
			color: #fff;
			text-align: center;
			font-size: 5em;
		}
		.textBlock__subText{
			color: #fff;
			text-align: center;
			font-size: 1.5em;
		}
	}
	.bannerImage__bannerImage__hackathonTextBlock{
		position:absolute;
		z-index: 2;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);

		.textBlock__hackathonTitle{
			color: #fff;
			text-align: center;
			font-size: 1.8em;
		}
		.textBlock__hackathonDate{
			color: #fff;
			text-align: center;
			font-size: 0.8em;
		}
		.textBlock__hackathonCountdown{
			padding: 15px;
			color: #fff;
			text-align: center;
			font-size: 2.1em;
			white-space: nowrap;

			@media only screen and (max-width: 580px) {
				font-size: 1.9em;		
			}
			@media only screen and (max-width: 500px) {
				font-size: 1.8em;		
			}
			@media only screen and (max-width: 450px) {
				font-size: 1.6em;		
			}
			@media only screen and (max-width: 400px) {
				font-size: 1.4em;		
			}
			@media only screen and (max-width: 370px) {
				font-size: 1.3em;		
			}
			
		}
		.buttonBlock{
			position: relative;
			display: flex;

			.buttonBlock__twoCol{
				color: white;

				border-color: white;
				border-width: 1px;
				border-style: solid;

				width: 150px;
				text-align: center;
				padding: 5px 0 5px 0;
				transition: 0.2s color linear, 0.2s background-color linear;

				&:hover{
					color: black;
					background-color: white;
					cursor: pointer;
				}
			}
		}
	}
	
	.bannerImage__overley{
		position: absolute;	
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.2;
	}
	.bannerImage__background{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		// background: linear-gradient(to right, #1C1E1E, #343637);
		background: linear-gradient(to bottom,rgba(69, 82, 107, 0.8) , rgba(0,0,0,0.2));
	}
	.bannerImage__image{
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;

		&.bannerImage__image--about{
			background-image: url("../img/UTRA Exec Photoshoot 171120/DSC_4016.jpg");
			background-position: 50% 30%;
		}
		&.bannerImage__image--hackathon{
			z-index: 1;
			background-image: url("../img/hackathonIcons/torontoSkylineHD.png");
			background-size: auto 40%;
		}
	}
}

.shortBanner{
	width:100%;
	padding-top: 75px;
	height: 40vh;
	position: relative;
	background-color: #F5F9Fc;//D2DCE5;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.shortBanner__titleText{
		color: #45526B;
		font-size: 3em;
	}	
	.shortBanner__content{
		p{
			color: #45526B;
		}
	}

	&.shortBanner--noPhoto{
		height: 25vh;
	}
}