.section__codeOfConduct{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
    margin-top: 50px;

	&.section--backgroundLightColor{
		background-color: #F5F9Fc;
	}

	p{
		text-align: left;
		padding-bottom: 15px;
		padding-top: 15px;
	    margin-left: 5vw;
    	margin-right: 5vw;

		&:first-child{
			padding-top: 0px;
		}

		&:last-child{
			padding-bottom: 10px;
		}
	}
}

.codeOfConductBack{
	text-decoration: none;

}

