/*FOOTER*/

footer{
    position: relative;
    width: 100%;
    height: 150px;
  .footer-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .footer-text{
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    @media only screen and (max-width: 460px) {
      font-size: 1.2em;   
    }
    @media only screen and (max-width: 440px) {
      font-size: 1.1em;   
    }
    @media only screen and (max-width: 420px) {
      font-size: 1.0em;   
    }
    @media only screen and (max-width: 340px) {
      font-size: 0.9em;   
    }

    // @media only screen and (max-width: 370px) {
    //   font-size: 1.3em;   
    // }
    // @media only screen and (max-width: 500px) {
    //   font-size: 1.8em;   
    // }
    // @media only screen and (max-width: 450px) {
    //   font-size: 1.6em;   
    // }
    // @media only screen and (max-width: 400px) {
    //   font-size: 1.4em;   
    // }
    // @media only screen and (max-width: 370px) {
    //   font-size: 1.3em;   
    // }
  }
  .social-icons{
    width: 100%;
    text-align: center;
  }

  /* Style all font awesome icons */
  a{
    font-size: 1.6em;
    .fa {
        padding: 10px;
        color:#333;
    }

    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.8;
    }
  }
}


/* Set a specific color for each brand */

/* Facebook */

/*
.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

*/