.galleryGrid{
	position: relative;

	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;

	.galleryGrid__photoWrapper{
		position: relative;
		overflow: hidden;
		width: 930px; //210px for 1 image 3*310=930px for 3 col img gallery

		@media only screen and (max-width: 1350px) {
			// 2 col image gallery
			width: 620px;
		}
		@media only screen and (max-width: 825px) {
			// 1 col image gallery
			width: 310px;
		}

		.galleryGrid__pages{
			position: relative;
			left: 0;
			display: flex;
			transition: left 0.5s ease-in-out;

			.galleryGrid__page{
				display: inline-block;
				position: relative;

				.galleryGrid__pagePhotoFlexWrapper{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					width: 930px;
					// flex: 0 0 0;
					
					.galleryGrid__photo{
						height: 200px;
						width: 300px;
						margin-left: 5px;
						margin-right: 5px;
						margin-top: 10px;
						margin-bottom: 10px;
						overflow: hidden;
						position: relative;
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
							width: auto;
							height: 100%;
						}
					}
				}
			}
		}
	}

	.galleryGrid__arrow{
		position: relative;
		width: 30px;

		margin-left: 10px;
		margin-right: 10px;

		&.galleryGrid__arrow--deactivated{
			i{
				opacity: 0.5;
			}
		}
		
		i{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #45526B;
			font-size: 4em;
			opacity: 1;
			transition: opacity 0.2s linear;
			cursor: pointer;

			&:hover{
				opacity: 0.5;
			}
		}
	}

	@media only screen and (max-width: 450px) {
		// 1 col image gallery
		.galleryGrid__photoWrapper{
			width: 245px;
			.galleryGrid__pages{
				.galleryGrid__page{
					.galleryGrid__pagePhotoFlexWrapper{
						width: 735px;
						.galleryGrid__photo{
							height: 160px;
							width: 240px;
							margin-left: 2.5px;
							margin-right: 2.5px;
							margin-top: 5px;
							margin-bottom: 5px;
						}
					}	
				}
			}
		}
		.galleryGrid__arrow{
			width: 30px;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}