.header{
	position: fixed;
	z-index: 9999999; //position above all
	top: 0;
	width: 100vw;

	&.header--noScroll{
		.mainMenu{
			background-color: rgba(69, 82, 107, 0.8);
		}
	}
}

//Responsive Stuff
@media only screen and (max-width: 1049px) {
	// Mobile
	.header .logo .logo__desktop{
		display: none;
	}
	.mainMenu{
		//Elements
		.mainMenu__mobileNav{
			display: flex;
			position: absolute;
			align-items: center;
			right: 5vw;
			height: 100%;
			z-index: 1;


			.mainMenu__mobileNavIcon{
				display: flex;
				align-items: center;
				color: #DADADA;
				font-size: 40px;

				transition: color 0.2s;
	    		&:hover{
	    			color: white;
	    		}
			}
			//Modifier
			.mainMenu__mobileNavIcon--noDisplay{
				display: none;
			}
		}
		.mainMenu__list{
			background-color: rgb(69, 82, 107);
		    width: 100vw;
		    height: 100vh;
		    top: -100vh;
		    transition: top 0.3s ease-out;

		    flex-direction: column;
		    align-items: center;
		    justify-content: center;

		    &.mainMenu__list--active{
		    	top: 0;
		    }
		}
		.mainMenu__menuItem{
			margin: 5px;

			&:after{
				content: '';
				position: relative;
				left: 50%;
				top: 2px;
				transform: translateX(-50%);
				width: 70%;
				background-color: white;
				opacity: 0;
				display: block;
				height: 2px;

				transition: opacity 0.2s, top 0.2s;
			}

			a{
				text-decoration: none;
	    		display: block;

	    		text-align: center;
	    		padding: 5px 15px 5px 15px;

	    		//font styling
	    		color: #DADADA;
	    		font-weight: bold;
	    		font-size: 2.0em;
	    		transition: color 0.2s;
	    		&:hover{
	    			color: white;
	    		}
			}

			&:hover{
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
		}
		&.mainMenu--backgroundVisible{
			background-color: rgba(69, 82, 107, 0.8);
		}
	}

} 

@media only screen and (min-width: 1050px) {
	// Desktop
	.header .mainMenu .mainMenu__mobileNav{
		display: none;
	}

	.header .logo .logo__mobile{
		display: none;
	}

	.header{
		// Hover Modifiers
		&.header--aboutActive{
			.mainMenu{
				.mainMenu__menuItem{
					&.mainMenu__menuItem--about{
						a{
							color: white;
							transition: none;
						}
						&:after{
							content: '';
							position: relative;
							left: 50%;
							top: 0px;
							transform:translateX(-50%);
							width: 70%;
							background-color: white;
							opacity: 1;
							display: block;
							height: 2px;
							transition: none;
						}
					}
					
				}
			}
		}

		&.header--teamsActive{
			.mainMenu{
				.mainMenu__menuItem{
					&.mainMenu__menuItem--teams{
						a{
							color: white;
							transition: none;
						}
						&:after{
							content: '';
							position: relative;
							left: 50%;
							top: 0px;
							transform:translateX(-50%);
							width: 70%;
							background-color: white;
							opacity: 1;
							display: block;
							height: 2px;
							transition: none;
						}
					}
					
				}
			}
		}

		&.header--eventsActive{
			.mainMenu{
				.mainMenu__menuItem{
					&.mainMenu__menuItem--events{
						a{
							color: white;
							transition: none;
						}
						&:after{
							content: '';
							position: relative;
							left: 50%;
							top: 0px;
							transform:translateX(-50%);
							width: 70%;
							background-color: white;
							opacity: 1;
							display: block;
							height: 2px;
							transition: none;
						}
					}
					
				}
			}
		}

		&.header--sponsorsActive{
			.mainMenu{
				.mainMenu__menuItem{
					&.mainMenu__menuItem--sponsors{
						a{
							color: white;
							transition: none;
						}
						&:after{
							content: '';
							position: relative;
							left: 50%;
							top: 0px;
							transform:translateX(-50%);
							width: 70%;
							background-color: white;
							opacity: 1;
							display: block;
							height: 2px;
							transition: none;
						}
					}
					
				}
			}
		}
	}
	
	//Block
	.mainMenu{
		//Elements
		.mainMenu__list{
			bottom: 5px;
			right: 5vw;

			&.mainMenu__list--active{
				//Nothing
		    }
		}
		.mainMenu__menuItem{
			margin: 5px;

			&:after{
				content: '';
				position: relative;
				left: 50%;
				top: 2px;
				transform: translateX(-50%);
				width: 70%;
				background-color: white;
				opacity: 0;
				display: block;
				height: 2px;

				transition: opacity 0.2s, top 0.2s;
			}

			a{
				text-decoration: none;
	    		display: block;

	    		text-align: center;
	    		padding: 5px 15px 5px 15px;

	    		//font styling
	    		color: #DADADA;
	    		font-weight: bold;
	    		font-size: 1.0em;
	    		transition: color 0.2s;
	    		&:hover{
	    			color: white;
	    		}
			}

			&:hover{
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
		}	
		&.mainMenu--backgroundVisible{
			background-color: rgba(69, 82, 107, 0.8);
		}
	}
} 

//block
.mainMenu{
	transition: background-color 0.2s;
	background-color: rgba(0,0,0,0);
	height: 75px;
	width: 100%;

	//Element
	.mainMenu__list{
		list-style-type: none;

		//positoning stuff
		display: flex;
		position: absolute;
		
	}//end mainMenu menuItem
}//end mainMenu

.logo{
	&.logo--header{
		position: absolute;
		left: 3vw;
		bottom: 0px;
		height: 75px;
		z-index: 1;
	}

	img{
		height: 100%;	
	}
}

//modifiers

// .header--noScroll{
// 	.mainMenu{
// 		background-color: rgba(69,82,107,1);
// 	}
// }