#mainHeader{
	position: absolute;
	z-index: 9999999; //position above all
	top: 0;
	width: 100vw;
	#navMenuMain{
		background-color: rgba(0,0,0,0);
		height: 75px;
		ul{
			list-style-type: none;
		    
		    //positoning stuff
		    display: flex;
		    position: absolute;
		    bottom: 5px;
		    right: 120px;
		    li{
		    	margin: 5px;
		    	a {
		    		text-decoration: none;
		    		display: block;

		    		text-align: center;
		    		padding: 5px 15px 5px 15px;

		    		//font styling
		    		color: #DADADA;
		    		font-weight: bold;
		    		font-size: 1.0em;
		    		transition: color 0.1s;
		    		&:hover{
		    			color: white;
		    		}

		    	}
		    	&:after{
		    		content: '';
    				position: relative;
    				left: 50%;
    				top: 2px;
    				transform: translateX(-50%);
    				width: 70%;
    				background-color: white;
    				opacity: 0;
    				display: block;
    				height: 2px;

		    		transition: opacity 0.2s, top 0.2s;
		    	}
		    	&.active{
		    		a{
		    			color: white;
		    		}
	    			&:after{
    				content: '';
    				position: relative;
    				left: 50%;
    				top: 0px;
    				transform:translateX(-50%);
    				width: 70%;
    				background-color: white;
    				opacity: 1;
    				display: block;
    				height: 2px;
    				}
    			}
    			&:hover{
    				&:after{
    				content: '';
    				position: relative;
    				left: 50%;
    				top: 0px;
    				transform:translateX(-50%);
    				width: 70%;
    				background-color: white;
    				opacity: 1;
    				display: block;
    				height: 2px;
    				}
    			}
		    }

		}	
	}
}
