.header{
	position: fixed;
	z-index: 9999999; //position above all
	top: 0;
	width: 100vw;
}

//block
.mainMenu{

	transition: background-color 0.2s;
	background-color: rgba(0,0,0,0);
	height: 75px;

	//elements
	.mainMenu__list{
		list-style-type: none;
		
		//positoning stuff
		display: flex;
		position: absolute;
		bottom: 5px;
		right: 120px;
	}
	.mainMenu__menuItem{
		margin: 5px;

		&:after{
			content: '';
			position: relative;
			left: 50%;
			top: 2px;
			transform: translateX(-50%);
			width: 70%;
			background-color: white;
			opacity: 0;
			display: block;
			height: 2px;

			transition: opacity 0.2s, top 0.2s;
		}

		a{
			text-decoration: none;
    		display: block;

    		text-align: center;
    		padding: 5px 15px 5px 15px;

    		//font styling
    		color: #DADADA;
    		font-weight: bold;
    		font-size: 1.0em;
    		transition: color 0.2s;
    		&:hover{
    			color: white;
    		}
		}

		&:hover{
			&:after{
				content: '';
				position: relative;
				left: 50%;
				top: 0px;
				transform:translateX(-50%);
				width: 70%;
				background-color: white;
				opacity: 1;
				display: block;
				height: 2px;
			}
		}

	}//end mainMenu item
}

.logo{
	&.logo--header{
		position: absolute;
		left: 30px;
		bottom: 0px;
		height: 75px;
	}

	img{
		height: 100%;	
	}
}

//modifiers
.header--aboutActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--about{
				a{
					color: white;
					transition: none;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
					transition: none;
				}
			}
			
		}
	}
}

.header--teamsActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--teams{
				a{
					color: white;
					transition: none;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
					transition: none;
				}
			}
			
		}
	}
}

.header--eventsActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--events{
				a{
					color: white;
					transition: none;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
					transition: none;
				}
			}
			
		}
	}
}

.header--sponsorsActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--sponsors{
				a{
					color: white;
					transition: none;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
					transition: none;
				}
			}
			
		}
	}
}

.header--noScroll{
	.mainMenu{
		background-color: rgba(69,82,107,1);
	}
}