.section__robotMarker{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 30px;

	width: calc(100% - 60px);

	.robotMarker{
		position: relative;
		width: 100%;

		.robotMarker__imageWrapper{
			position: relative;
			left: 50%;
			transform: translate(-50%);
			width: 65%;

			.robotMarker__marker{
				pointer-events: none;
				z-index: 5;
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				.robotMarker__markerCircle{
					pointer-events: auto;
					z-index: 5; //set this above the line
					border-radius: 50%;
				    width: 15px;
				    height: 15px;
				    background-color: #F5F9Fc;
				    transform: translate(-50%,-50%);
				    transition: opacity 0.2s linear;
				    opacity: 0; //DEBUGGING PUT 1
				    cursor: pointer;

				    position: absolute;
				}
				.robotMarker__markerLine{
					width: 100%;
					height: 100%;
					opacity: 0; //DEBUGGING PUT 1
					transition: opacity 0.2s linear;
					line{
						stroke: #F5F9Fc;
						stroke-width: 2;
					}
				}
				.robotMarker__markerDescription{
					position: absolute;
					transform: translate(15px,-50%);
					transition: opacity 0.2s linear;
					opacity: 0; //DEBUGGING PUT 1

					p{
						padding: 0;
						text-indent: 0;
						color: #F5F9Fc;
						white-space: nowrap;
					}

					&.robotMarker__markerDescription--alignRight{
						transform: translate(calc(-100% - 15px),-50%);
						p{
							align: right;
						}		
					}
				}
			}
			img{
				position: relative;
				display: block;
				z-index: 1;
				width: 100%;
			}	
			.robotMarker__imageFader{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: black;
				z-index: 3;
				opacity: 0; 	//DEBUGGING PUT 0.7
				transition: opacity 0.2s linear;
			}
		}

		//Different Photos
		&.robotMarker--SUMORobot{
			.robotMarker__imageWrapper{
				.robotMarker__marker{
					&.robotMarker__marker--IRSensor{
						.robotMarker__markerCircle{
							top: 42.1%;
	    					left: 60.4%;
						}

						.robotMarker__markerDescription{
							top: 25%;
							left: 75%;
						}
					}
					&.robotMarker__marker--chassis{
						.robotMarker__markerCircle{
							top: 64.8%;
	    					left: 52.1%;
						}

						.robotMarker__markerDescription{
						    top: 82%;
	  						left: 59%;
						}
					}
					&.robotMarker__marker--motors{
						.robotMarker__markerCircle{
							top: 50.7%;
	    					left: 30.9%;
						}

						.robotMarker__markerDescription{
						    top: 35%;
	  						left: 19%;
						}
					}
				}
			}
		}

		&.robotMarker--ARTRobot{
			.robotMarker__imageWrapper{
				.robotMarker__marker{
					&.robotMarker__marker--camera{
						.robotMarker__markerCircle{
						    top: 30.1%;
    						left: 30.4%;
						}

						.robotMarker__markerDescription{
							top: 24%;
							left: 19%;
						}
					}
					&.robotMarker__marker--hydraulicShocks{
						.robotMarker__markerCircle{
						    top: 62.1%;
    						left: 65.4%;
						}

						.robotMarker__markerDescription{
							top: 77%;
							left: 76%;
						}
					}
					&.robotMarker__marker--gps{
						.robotMarker__markerCircle{
						    top: 51.1%;
    						left: 57.4%;
						}

						.robotMarker__markerDescription{
							top: 37%;
							left: 72%;
						}
					}
					&.robotMarker__marker--lrf{
						.robotMarker__markerCircle{
					     	top: 34.1%;
    						left: 33.4%;
						}

						.robotMarker__markerDescription{
							top: 17%;
							left: 40%;
						}
					}
					&.robotMarker__marker--emergencyStops{
						.robotMarker__markerCircle{
						    top: 75.1%;
    						left: 37.4%;
						}

						.robotMarker__markerDescription{
							top: 87%;
							left: 30%;
						}
					}
				}
			}
			
		}
		
	}
}