.section__robotMarker{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 30px;

	width: calc(100% - 60px);

	@media only screen and (max-width: 1049px) {
		padding-left: 20px;
		padding-right: 20px;
		width: calc(100% - 40px);
	}

	.robotMarker{
		position: relative;
		width: 100%;

		.robotMarker__imageWrapper{
			position: relative;
			left: 50%;
			transform: translate(-50%);
			width: 65%;

			@media only screen and (max-width: 1450px) {
				width: 70%;
			}
			@media only screen and (max-width: 1300px) {
				width: 75%;
			}
			@media only screen and (max-width: 1200px) {
				width: 80%;
			}
			@media only screen and (max-width: 1100px) {
				width: 85%;
			}
			@media only screen and (max-width: 1049px) {
				width: 90%;
				.robotMarker__marker{
					display: none;
				}
				.robotMarker__imageFader{
					display: none;
				}
			}
			@media only screen and (max-width: 450px) {
				width: 95%;
				.robotMarker__marker{
					display: none;
				}
				.robotMarker__imageFader{
					display: none;
				}
			}
			.robotMarker__marker{
				pointer-events: none;
				z-index: 5;
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				.robotMarker__markerCircle{
					pointer-events: auto;
					z-index: 5; //set this above the line
					border-radius: 50%;
				    width: 15px;
				    height: 15px;
				    background-color: #F5F9Fc;
				    transform: translate(-50%,-50%);
				    transition: opacity 0.2s linear;
				    opacity: 0; //DEBUGGING PUT 1 else 0
				    cursor: pointer;

				    position: absolute;
				}
				.robotMarker__markerLine{
					width: 100%;
					height: 100%;
					opacity: 0; //DEBUGGING PUT 1 else 0
					transition: opacity 0.2s linear;
					line{
						stroke: #F5F9Fc;
						stroke-width: 2;
					}
				}
				.robotMarker__markerDescription{
					position: absolute;
					transform: translate(15px,-50%);
					transition: opacity 0.2s linear;
					opacity: 0; //DEBUGGING PUT 1 else 0

					p{
						padding: 0;
						text-indent: 0;
						color: #F5F9Fc;
						white-space: nowrap;
					}

					&.robotMarker__markerDescription--alignRight{
						transform: translate(calc(-100% - 15px),-50%);
						p{
							align: right;
						}		
					}
				}
			}
			img{
				position: relative;
				display: block;
				z-index: 1;
				width: 100%;
			}	
			.robotMarker__imageFader{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: black;
				z-index: 3;
				opacity: 0; 	//DEBUGGING PUT 0.7
				transition: opacity 0.2s linear;
			}
		}

		//Different Photos
		&.robotMarker--SUMORobot{
			.robotMarker__imageWrapper{
				.robotMarker__marker{
					&.robotMarker__marker--IRSensor{
						.robotMarker__markerCircle{
							top: 42.1%;
	    					left: 60.4%;
						}

						.robotMarker__markerDescription{
							top: 25%;
							left: 75%;
						}
					}
					&.robotMarker__marker--chassis{
						.robotMarker__markerCircle{
							top: 64.8%;
	    					left: 52.1%;
						}

						.robotMarker__markerDescription{
						    top: 82%;
	  						left: 59%;
						}
					}
					&.robotMarker__marker--motors{
						.robotMarker__markerCircle{
							top: 50.7%;
	    					left: 30.9%;
						}

						.robotMarker__markerDescription{
						    top: 35%;
	  						left: 19%;
						}
					}
				}
			}
		}

		&.robotMarker--ARTRobot{
			.robotMarker__imageWrapper{
				.robotMarker__marker{
					&.robotMarker__marker--camera{
						.robotMarker__markerCircle{
						    top: 30.1%;
    						left: 30.4%;
						}

						.robotMarker__markerDescription{
							top: 24%;
							left: 19%;
						}
					}
					&.robotMarker__marker--hydraulicShocks{
						.robotMarker__markerCircle{
						    top: 62.1%;
    						left: 65.4%;
						}

						.robotMarker__markerDescription{
							top: 77%;
							left: 72%;
						}
					}
					&.robotMarker__marker--gps{
						.robotMarker__markerCircle{
						    top: 51.1%;
    						left: 57.4%;
						}

						.robotMarker__markerDescription{
							top: 37%;
							left: 65%;
						}
					}
					&.robotMarker__marker--lrf{
						.robotMarker__markerCircle{
					     	top: 34.1%;
    						left: 33.4%;
						}

						.robotMarker__markerDescription{
							top: 17%;
							left: 40%;
						}
					}
					&.robotMarker__marker--emergencyStops{
						.robotMarker__markerCircle{
						    top: 75.1%;
    						left: 37.4%;
						}

						.robotMarker__markerDescription{
							top: 87%;
							left: 37%;
						}
					}
				}
			}	
		}

		&.robotMarker--Pacbot{
			.robotMarker__imageWrapper{
				.robotMarker__marker{
					&.robotMarker__marker--ultrasonic{
						.robotMarker__markerCircle{
    						top: 71.1%;
    						left: 72.4%;

						}

						.robotMarker__markerDescription{
						    top: 93%;
    						left: 77%;
						}
					}
					&.robotMarker__marker--omniWheels{
						.robotMarker__markerCircle{
							top: 85.1%;
    						left: 43.4%;
						}

						.robotMarker__markerDescription{
  						    top: 76%;
    						left: 17%;
						}
					}
					/*&.robotMarker__marker--raspberrypi{
						.robotMarker__markerCircle{
							top: 50.7%;
	    					left: 30.9%;
						}

						.robotMarker__markerDescription{
						    top: 35%;
	  						left: 19%;
						}
					}*/
					&.robotMarker__marker--ardunio{
						.robotMarker__markerCircle{
							top: 35.1%;
    						left: 60.4%;
						}

						.robotMarker__markerDescription{
	  						top: 13%;
    						left: 87%;
						}
					}
				}
			}
		}

		&.robotMarker--RobosoccerBot{
			.robotMarker__imageWrapper{
				.robotMarker__marker{
					&.robotMarker__marker--webcam{
						.robotMarker__markerCircle{
    					    top: 8.5%;
    						left: 54.5%;
						}

						.robotMarker__markerDescription{
							top: 20%;
							left: 75%;
						}
					}
					&.robotMarker__marker--jetson{
						.robotMarker__markerCircle{
    					    top: 43.8%;
   							left: 57.1%;

						}

						.robotMarker__markerDescription{
						    top: 33%;
	  						left: 78%;
						}
					}
					&.robotMarker__marker--3dprinted{
						.robotMarker__markerCircle{
    					    top: 36.7%;
   							left: 46.9%;
						}

						.robotMarker__markerDescription{
						    top: 16%;
    						left: 28%;
						}
					}
					&.robotMarker__marker--degreeFreedom{
						.robotMarker__markerCircle{
    					    top: 54.7%;
    						left: 68.9%;
						}

						.robotMarker__markerDescription{
						    top: 85%;
						    left: 74%;
						}
					}
					&.robotMarker__marker--servo{
						.robotMarker__markerCircle{
	    					top: 69.7%;
    						left: 47.9%;
						}

						.robotMarker__markerDescription{
						    top: 91%;
						    left: 41%;
						}
					}
				}
			}
		}
		
		&.robotMarker--fabricationFlashforgeCreator{

		}

		&.robotMarker--fabricationFlashforgeFinder{

		}
	}
}




.markerScroll{
	position: relative;
	display: flex;
	flex-direction: row;

	width: 100%;
	.markerScoll__arrow{
		position: absolute;
		z-index: 100;
	    height: 100%;
	    background-color: #F5F9Fc;
	    
		i{
			font-size: 4em;
			color: #45526B;
			cursor: pointer;
			top: 50%;
			position: relative;
			transform: translateY(-50%);

			opacity: 1;
	    	transition: opacity 0.2s linear;

	    	&:hover{
	    		opacity: 0.5;
	    	}
		}

		&.markerScroll__arrow--deactivated{
			i{
				opacity: 0.5;
			}
		}	

	}
	.markerScroll__leftScroll{
		left: 0;
		padding-left: 2%;
		padding-right: 3%;
	}
	.markerScroll__wrapper{
		position: relative;
		width: 100%;
		overflow: hidden;
		.markerScroll__allMarkers{
		    position: relative;
		    left: 0;
		    display: flex;
		    transition: left 0.5s ease-in-out;
			.markerScroll__markerWrapper{
			    display: inline-block;
    			position: relative;
    			.markerScroll__markerTitle{
    				padding-top: 10px;
    				text-align: center;
    				font-size: 1.5em;
    				font-weight: 500;
    			}
    			.section__robotMarker{
    				width: calc(80vw - 60px); // override width

    				@media only screen and (max-width: 1049px) {
    					width: calc(95vw - 40px);
    				}
    			}
			}
		}
		.markerScroll__innerWrapper{
			display: inline-block;
			position: relative;
		}
	}
	.markerScroll__rightScroll{
		right: 0;
	    padding-left: 3%;
		padding-right: 2%;
	}
}