.onePagerSection{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;

	// min-height: 400px;

	&:nth-child(odd){
		background-color: #F5F9FC;
	}
	.onePagerSection__title{
		padding-bottom: 20px;
		position: relative;
		text-align: center;
		font-size: 2.5em;
		width: 100%;

		//red underline
		&:after{
			display: block;
			content: '';
			height: 3px;
			width: 30px;
			background-color: #CD959A;
			margin-top: 10px;

			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}