section{
	position: relative;
	width: 100%;
	height: fit-content;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F5F9Fc;

	display: flex;
	// flex-direction: column;
	justify-content: center;

	left: 50%;
	transform: translateX(-50%);

	&:nth-child(odd){
		background-color: #D2DCE5;
	}

	&.section__pageDescription{

		p{
			max-width: 80%;
			text-align: center;
			color: #45526B;
		}
	}

	&.section__teamBody{
		width: 80%;
		position: relative;

		display: flex;
		flex-direction: column;

		p{
			padding-top: 20px;
			text-indent: 30px;
			color: #45526B;
			padding-left: 50px;						//Page padding
			padding-right: 50px;					//Page padding
		}
	}

	.section__Title{
		padding-bottom: 20px;
		position: relative;
		text-align: center;
		font-size: 2.0em;
		color: #45526B;
		width: 100%;

		&.section__Title--small{
			font-size: 1.6em;

			&:after{
				margin-top: 5px;
			}
		}

		//red underline
		&:after{
			display: block;
			content: '';
			height: 3px;
			width: 30px;
			background-color: #CD959A;
			margin-top: 10px;

			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.section_subTitle{
		font-weight: 800;
		font-size: 1.2em;

		padding-top: 15px;
		padding-left: 50px;						//Page padding
		padding-right: 50px;					//Page padding
		color: #45526B;

	}

	.section_unorderedList{
		padding-top: 5px;
		padding-left: 95px;						//Page padding + indent
		padding-right: 50px;					//Page padding

		li{
			color: #45526B;
		}
	}



	.galleryGrid{
	
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.galleryGrid__photoWrapper{


			position: relative;
			overflow: hidden;
			width: 930px;

			

			.galleryGrid__pages{
				position: relative;
				left: 0;
				display: flex;
				transition: left 0.5s ease-in-out;

				.galleryGrid__page{
					display: inline-block;
					width: 930px;
					position: relative;

					.galleryGrid__pagePhotoFlexWrapper{
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
						width: 930px;
						// flex: 0 0 0;
						
						.galleryGrid__photo{
							height: 200px;
							width: 300px;
							margin-left: 5px;
							margin-right: 5px;
							margin-top: 10px;
							margin-bottom: 10px;
							overflow: hidden;
							position: relative;
							img{
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%,-50%);
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}

		.galleryGrid__arrow{
			position: relative;
			width: 30px;

			margin-left: 10px;
			margin-right: 10px;

			&.galleryGrid__arrow--deactivated{
				i{
					opacity: 0.5;
				}
			}
			
			i{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				color: #45526B;
				font-size: 4em;
				opacity: 1;
				transition: opacity 0.2s linear;
				cursor: pointer;

				&:hover{
					opacity: 0.5;
				}
			}
		}

	}
}
