@import "variables";

.bannerImage{
	.bannerImage__image{
		&.bannerImage__image--teams{
			background-image: url($baseurl + "/assets/img/Combat/Cover Photo.jpg");
			background-position: 50% 30%;
		}
	}
}

.flexContainer{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	margin-top: 40px;
	margin-bottom: 20px;


	.teamContainer{
		position: relative;
		height: 300px;
		width: 400px;
		background-color: $background-color-light;
		margin: 10px;
		transition: background-size 0.2s linear;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: auto 100%;

		a{
			text-decoration: none;
		}

		@media only screen and (min-width: 1050px) {
			&:hover{
				background-size: auto 110%;
				.teamContainer__details{
					opacity: 1;
				}
				.teamContainer__fader{
					opacity: 0.4;
				}
			}
		}

		&.teamContainer--SUMO{
			background-image: url($baseurl + '/assets/img/Team Photos/sumo/IMG_6938.jpg');
		}
		&.teamContainer--ART{
			background-image: url($baseurl + '/assets/img/Team Photos/ART/Art robot.jpg');
			@media only screen and (min-width: 1050px) {
			   	background-size: auto 110%;
				
				&:hover{
					background-size: auto 120%;
				}
			}
		}
		&.teamContainer--Fabrication{
			background-image: url($baseurl + '/assets/img/Team Photos/3dp/IMG_1012.JPG');
		}
		&.teamContainer--roboSoccer{
			background-image: url($baseurl + '/assets/img/Team Photos/robosoccer/robosoccerRobot.jpg');
		}
		&.teamContainer--combat{
			background-image: url($baseurl + '/assets/img/Team Photos/heavy combat/combat.jpg');
		}
		&.teamContainer--pacbot{
			background-image: url($baseurl + '/assets/img/Pacbot/pacbot.jpg');
		}
		&.teamContainer--robonars{
			background-image: url($baseurl + '/assets/img/Robonars/Robonars Class.jpg');
		}

		.teamContainer__fader{
			z-index: 1;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 0;
			transition: opacity 0.2s linear;
		}

		.teamContainer__details{
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			opacity: 0;
			white-space: nowrap;
			transition: opacity 0.2s linear;
		
			.teamContainer__name{
				font-size: 2.5em;
				font-weight: 600;
				color: $background-color-light;	
			}
			.teamContainer__socialIconsContainer{
				display: flex;
				justify-content: center;
				.teamContainer__socialIcon{
					padding: 5px;
					font-size: 1.3em;
					color: $background-color-light;
					transition: color 0.2s linear;
					cursor: pointer;

					&:hover{
						color: lightgray;
					}
				}
			}
		}

		@media only screen and (max-width: 1049px) {
			transition: none;
			background-size: auto 100%;

			.teamContainer__details{
				opacity: 1;
			}
			.teamContainer__fader{
				opacity: 0.4;
			}
			.teamContainer__details .teamContainer__socialIconsContainer{
				display: none;
			}
		}
	}
}


// Combat Page + 3dp
.PhotoSpec__Robot{
	position: relative;
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;

	.PhotoSpec__photo{
		width: 40%;
		height: 400px;
		margin-left: 5%;
		margin-right: 5%;
		position: relative;
		margin-top: auto;
		margin-bottom: auto;

		background-size: auto 100%;
		background-repeat: no-repeat;

		&.PhotoSpec__photo--YellowMouse{
			background-image: url($baseurl + "/assets/img/Combat/yellowmouse.jpg");
			background-position: 50% 50%;
		}
		&.PhotoSpec__photo--TSAInspected{
			background-image: url($baseurl + "/assets/img/Combat/TSA_Inspected.jpg");
			background-position: 50% 50%;
		}
		&.PhotoSpec__photo--Kludge{
			background-image: url($baseurl + "/assets/img/Combat/Kludge.jpg");
			background-position: 50% 50%;
		}
		&.PhotoSpec__photo--FlashForgeCreatorPro{
			background-image: url($baseurl + "/assets/img/3DP/Undated FolgerTech FT-5 Printer Build/IMG_1012.JPG");
			background-position: 50% 50%;
		}
		&.PhotoSpec__photo--FolgerTech{
			background-image: url($baseurl + "/assets/img/3DP/Undated FolgerTech FT-5 Printer Build/IMG_1051.JPG");
			background-position: 50% 50%;
		}
	}
	.PhotoSpec__specs{
		width: 50%;
		.PhotoSpec__name{
			font-size: 1.4em;
			font-weight: 600;
			text-align: center;
			color: #45526B;
		}
		.PhotoSpec__heading{
			font-weight: 600;
			color: #45526B;
		}
		.PhotoSpec__item{
			color: #45526B;
		}
	}

	&:nth-child(odd){
		.PhotoSpec__photo{
			order: 0;
			margin-right: calc( 5% + 20px)
		}
		.PhotoSpec__specs{
			order: 1;
			margin-left: 20px;
		}
	}
	&:nth-child(even){
		.PhotoSpec__photo{
			order: 1;
			margin-left: calc( 5% + 20px)
		}
		.PhotoSpec__specs{
			order: 0;
			margin-right: 20px;
		}
	}
}
