@import 'header';
@import 'footer';

@import 'bannerImage';

@import 'landingPage';
@import 'onePager';

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	
	width: 100vw;
	overflow-x: hidden;
	background-color: #D2DCE5;

}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Abel', sans-serif;
    font-style: normal;
}

//menu modifiers
.header--aboutActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--about{
				a{
					color: white;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
			
		}
	}
}
.header--locationActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--location{
				a{
					color: white;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
			
		}
	}
}
.header--scheduleActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--schedule{
				a{
					color: white;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
			
		}
	}
}
.header--faqActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--faq{
				a{
					color: white;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
			
		}
	}
}
.header--sponsorsActive{
	.mainMenu{
		.mainMenu__menuItem{
			&.mainMenu__menuItem--sponsors{
				a{
					color: white;
				}
				&:after{
					content: '';
					position: relative;
					left: 50%;
					top: 0px;
					transform:translateX(-50%);
					width: 70%;
					background-color: white;
					opacity: 1;
					display: block;
					height: 2px;
				}
			}
			
		}
	}
}

//about section
.aboutFlexContainer{
	position: relative;
	display: flex;
	margin-top: 50px;

	//min margins
	margin-left: 20px;
	margin-right: 20px;

	//flex
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;

	.iconContainer{
		position: relative;
		display: flex;

		//flex
		flex-wrap: nowrap;
		justify-content: space-evenly;
		width: 100%;
		margin-bottom: 20px;
		.aboutIcon{
			width: 150px;
			.aboutIcon__img{
				clip-path: circle(50% at 50% 50%);
				width: 150px;
				height: 150px;
				background-size: 100% 100%;
				transition: opacity 0.2s;

				&.aboutIcon__img--design{
					background-image: url("../img/hackathonIcons/design.png");
				}
				&.aboutIcon__img--build{
					background-image: url("../img/hackathonIcons/build.png");
				}
				&.aboutIcon__img--inspire{
					background-image: url("../img/hackathonIcons/inspire.png");
				}
				&:hover{
					opacity: 0.6;
				}
			}
			.aboutIcon__text{
				font-size: 2em;
				font-weight: 600;
				padding: 15px;
				text-align: center;
			}

		}
	}

	p{
		font-size: 1.5em;
	}
}

//location section
.locationFlexContainer{
	display: flex;
	position: relative;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	max-width: 1200px;
	align-items: center;

	width: 100%;
	height: 75vh;

	.map{
		position: relative;
		width: 100%;
		height: 100%;	
	
		#hackathonMaps{
			position: absolute;
			width: 100%;
			height: 100%;
		}

	}	
}


//Schedule section
.scheduleLegend{
	position: relative;
	margin-top: 30px;
	width: 100%;

 	display: flex;
 	text-align: center;
 	justify-content: center;
 	flex-direction: row;
 	flex-wrap: nowrap;
	.scheduleLegend__item{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-left: 30px;
		margin-right: 30px;
		svg{
			margin-left: 5px;
			margin-right: 5px;
		}
		.scheduleLegend__itemTitle{
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	
}

.timeTableHeader{
	position: relative;
	margin-top: 30px;
	width: 80%;

	.timeTableHeader__title{
		position:relative;
		font-size: 1.5em;
		text-align: center;
	}
}


.timeTable{
	background-color: #F5F9FC;
	/*margin-left: 1%;
	margin-right: 1%; */
	width: 80%;
	position: relative;

	display: flex;
	flex-direction: column;
	margin: 15px;
	.timeTable__row{
		position: relative;
		height: fit-content;

		display: flex;
		flex-direction: row;
		align-items: center;
		.timetimeTable__timeHeader{
			order: 1;
			text-align: center;
			padding: 20px 30px 20px 30px;	
			transition: background-color 0.1s linear;
		}
		.timeTable__event{
			position: relative;
			order: 2;
			flex: 1;
			height: 100%;
			transition: background-color 0.1s linear;

			.timeTable__eventHorizontalLine{
				position: relative;
				width: calc(100% - 30px);
				height: 1px;
				background-color: #DADADA;
				top: 50%;
				transform: translateY(-50%);
			}

			.timeTable__eventMarkerWrapper{
				position: absolute;
				height: 100%;
				width: 100%;

				.timeTable__eventDot{
					position: absolute;	
					top: 50%;
					transform: translateY(-50%);

					&.timeTable__eventDot--middleEndUp{
						top: 100%;
					}	
					&.timeTable__eventDot--middleEndDown{
						top: 0%;
					}	
				}

				.timeTable__eventVerticalLine{
					position: absolute;
					width: 2px;
					height: 50%;
					transform: translateX(5px);

					&.timeTable__eventVerticalLine--food{
						background-color: #F2C94C;
					}

					&.timeTable__eventVerticalLine--presentation{
						background-color: #2F80ED;
					}

					&.timeTable__eventVerticalLine--main{
						background-color: #CD959A;
					}

					&.timeTable__eventVerticalLine--down{
						top: 50%;
					}
					&.timeTable__eventVerticalLine--up{
						bottom: 50%;
					}
				}

				.timeTable__eventTimeAndDetails{
					position: absolute;
					transform: translateX(25px);
					white-space: nowrap;

					.timeTable__eventTimeAndDetails--food{
						color: #F2C94C;
					}

					.timeTable__eventTimeAndDetails--presentation{
						color: #2F80ED;
					}
					.timeTable__eventTimeAndDetails--main{
						color: #CD959A;
					}

					&.timeTable__eventTimeAndDetails--down{
						bottom: 50%;
					}
					&.timeTable__eventTimeAndDetails--up{
						top: 50%;
					}
				}

				&.timeTable__eventMarkerWrapper--position1{
					margin-left: 20px;
				}
				&.timeTable__eventMarkerWrapper--position2{
					margin-left: 300px;
				}
			}
		}

		&:first-child{
			.timetimeTable__timeHeader{
				padding-top: 40px;
			}
			.timeTable__event{
				padding-top: 20px;
				height: calc(100% - 20px);
				.timeTable__eventMarkerWrapper{
					height: calc(100% - 20px);
				}
			}
		}

		&:last-child{
			.timetimeTable__timeHeader{
				padding-bottom: 40px;
			}
			.timeTable__event{
				padding-bottom: 20px;
				height: calc(100% - 20px);
				.timeTable__eventMarkerWrapper{
					height: calc(100% - 20px);
				}
			}
		}
	}
}


.time-table-time{
	margin-top:3%;
	margin-left:3%;
	position:absolute;
}


// // //FAQ section
// .QandAFlexContainer{
// 	position: relative;
// 	display: flex;

// 	//flex stuff
// 	flex-wrap: nowrap;
// 	justify-content: space-between;
// 	max-width: 1200px;
// 	.QandAFlexCol{
// 		margin-top: 20px;
// 		margin-bottom: 20px;
// 		margin-left: 50px;
// 		margin-right: 50px;
// 		width: 25%;
// 		.QandA{
// 			margin-top: 30px;
// 			margin-bottom: 30px;

// 			&:first-child{
// 				margin-top: 0px;
// 			}
// 			&:last-child{
// 				margin-bottom: 0px;
// 			}

// 			.faq__question{
// 				margin-bottom: 10px;
// 			}
// 		}
// 	}
	
// }

//FAQ section
.accordionContainer {
	width: 100%;
	max-width: 95%;
	text-align: center;
	margin: 30px auto 20px;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 1200px; 

	ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
	}

	li{
    display: inline-block;
    width: 100%;
	}

	li.open .accordionContainer_link {
		color: #b63b4d; 
	}

	.accordionContainer_link{
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
	}

    .accordionContainer_submenu{
    display: none;
    background: #D2DCE5;
    font-size: 14px;
	}
}

// Sponsorship section
.sponsorList{
	position: relative;

	display: inline-flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

	max-width: 1200px;
	width: 100%;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	.sponsorList__img{
		position: relative;
		height: 100px;
		margin: 15px;
		// .sponsorList__overley{
		// 	position: absolute;
		// 	height: 100%;
		// 	width: 100%;
		// 	z-index: 1;
		// 	opacity: 0;
		// 	background-color: black;
		// 	transition: opacity 0.2s linear;
		// 	transform: translate3d(0,0,0);

		// 	&:hover{
		// 		opacity: 0.2;
		// 	}
		// }
		img{
			height: 100%;
			opacity: 1;
		}
	}
}