@import "header";
@import "footer";
@import "pageSections";

@import 'bannerImage';

@import "landingPage";
@import "about";
@import "teams";
@import "events";
@import "sponsors";
@import "codeOfConduct";

html, body{
	margin: 0;
	padding: 0;
	border: 0;
	
	width: 100vw;
	overflow-x: hidden;
	background-color: #D2DCE5;

}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Abel', sans-serif;
    font-style: normal;
}