---
permalink: /teams/3dp/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | 3DP</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">3D Printing</h1>
		<div class="shortBanner__content">
			<p>18:30 - 19:30 | Mondays | TBD</p>
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<a href="https://www.facebook.com/groups/170063056765640/" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="socialIconCircle">
					<a href="mailto:3dp@utra.ca"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>The 3D Printing (3DP) team at UTRA is dedicated to designing items for 3D printing, a technology that transforms digital models into physical objects. Additionally, the team offers 3D printing services for the entire UTRA team and the general UofT student population. The inclusion of 3D printed parts in the UTRA robot designs has enabled UTRA to accelerate the pace of our robot design and development strategy. New team members can expect to learn how to efficiently create CAD models for engineering projects, properly operate a 3D printer, and skillfully manufacture modular 3D printers.</p>
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">Our Printers</h1>
		<p>In the past year, 3DP has built two printers to add to their manufacturing arsenal and provided support in designing quadcopters for their members. Currently, our team has two FolgerTech Ft-5s and a FlashForge Creator Pro. The Specs are outlined below:</p>
		

		TO DO:
		add specs
		add photos
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>