---
permalink: /teams/ART/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | ART</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Autonomous Rover Team</h1>
		<div class="shortBanner__content">
			<p>Kickoff | COMING SOON!</p>
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<a href="mailto:art@utra.ca"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>The Autonomous Rover Team (ART) designs and builds the components for several robots. Components are designed to be modular and chassis-independent. Therefore we will build a chassis specific to a competition, install or pre-built components to make it autonomous, then tweak the code to competition-specific details. Our rover is capable of autonomously navigating around an obstacle course using LIDAR and a stereo camera as inputs. Sounds simple, right? Now we just need you to make those ‘pre-built’ components!</p>
		
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">THE ART ROBOT (aka Da Boss)</h1>
		<div class="section__robotMarker">
			<div class="robotMarker robotMarker--ARTRobot">
				<div class="robotMarker__imageWrapper">
					<div class="robotMarker__imageFader"></div>
					<img src="{{ site.baseurl }}/assets\img\Team Photos\ART\Art robot.jpg">
					<div class="robotMarker__marker robotMarker__marker--camera">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="30.4%" y1="30.1%" x2="19%" y2="26%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>Camera</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--hydraulicShocks">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="65.4%" y1="62.1%" x2="72%" y2="75%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>8-Spring Hydraulic Shocks</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--gps">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="57.4%" y1="51.1%" x2="65%" y2="39%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Global Positioning System (GPS)</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--lrf">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="33.4%" y1="34.1%" x2="40%" y2="19%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Laser Range Finder (LRF)</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--emergencyStops">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="37.4%" y1="75.1%" x2="35%" y2="85%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>Manual & Wireless Emergency stops</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="section__Title section__Title--small">The ART team</h1>
		<h2 class="section_subTitle">Mechanical Sub-team</h2>
		<p>Every rover needs a base. The mechanical sub-team strives to provide the strong foundation for everything else. From 3D-modeling and designing to hands on metal working and frame building, we do everything! If you are a robot enthusiast and you would like to help out, then this team is where you want to be.</p>
		<h2 class="section_subTitle">Electrical Sub-team</h2>
		<p>ART is a great place to learn how to build some simple circuits and gain some hands-on experience in wiring, soldering, etc. We need circuits that range from PCBs for our microelectronics, to high voltage (48V-DC), high current (100A) circuits. Learn and build protection circuitry, motor controllers, filters, and much more!</p>
		<h2 class="section_subTitle">Embedded Sub-team</h2>
		<p>We're the middleware between the software and the actual robot. We write the code that operates the
		motor and microcontrollers. We use the ROS platform to communicate between these systems, and work mostly with C/C++. Learn the fundamentals of control theory, PID controllers, and dynamical systems!
		</p>
		<h2 class="section_subTitle">CV and SLAM Sub-team</h2>
		<p>This sub-team forms the eyes of the rover. We use OpenCV techniques and Machine Learning for lane detection and identifying obstacles. Simultaneous Localization and Mapping (SLAM) works on creating a map of the world around the rover using the LIDAR mounted on it. This map combined with the information obtained from CV is used to plan a path for the rover.</p>
		<!-- <h2 class="section_subTitle">Sensors</h2> -->
		<!-- <p>A robot is only as good as its sensors. ART buys a few high-end sensors and shares them across robot platforms. A large portion of our budget goes to these sensors, so we need people that know them inside and out. What they’re capable of, how to communicate with them, how to protect them, and which new sensors are required!</p> -->
		<br>

		<h1 class="section__Title section__Title--small">Competitions List</h1>
		<ul class="section_unorderedList">
			<li>IGVC – Intelligent Ground Vehicle Competition | UPCOMING</li>
			<li>RoboGames – Robomagellan</li>
			<li>Unmanned Ground Vehicle Competition</li>
			<li>Robot Racing</li>
		</ul>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/robotMarker.js"></script>
</body>
</html>
