---
permalink: /teams/ART/index.html
---

<!DOCTYPE html>
<html>
  <head>
    <title>UTRA | ART</title>

    {% include resources.html %}
  </head>
  <body>
    <header class="header header--noScroll">{% include header.html %}</header>

    <div class="shortBanner shortBanner--noPhoto">
      <h1 class="shortBanner__titleText">Autonomous Rover Team</h1>
      <div class="shortBanner__content">
        <div class="shortBanner__socialContainer">
          <div class="socialIconCircle">
            <a href="mailto:art@utra.ca"><i class="fa fa-envelope"></i></a>
          </div>
          <div class="socialIconCircle">
            <a href="https://www.instagram.com/utra_art/"
              ><i class="fa fa-instagram" style="left: 30%; top: 30%"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <section class="section__pageDescription section--backgroundAlternate">
      <p>
        The Autonomous Rover Team (ART) focuses on building fully autonomous
        robots to perform meaningful functions, often involving navigation and
        environment manipulation. Our members build the robot from the ground
        up, including its design, mechanical and electrical subsystems,
        navigation software, and computer vision models. The functionality is
        often motivated by various national and international competitions we
        aim to attend towards the end of each academic year.
      </p>
    </section>

    <section class="section__teamBody section--backgroundAlternate">
      <!-- <h1 class="section__Title section__Title--small">THE ART ROBOT (aka Da Boss)</h1> -->
      <!-- <div class="section__robotMarker">
			<div class="robotMarker robotMarker--ARTRobot">
				<div class="robotMarker__imageWrapper">
					<div class="robotMarker__imageFader"></div>
					<img src="{{ site.baseurl }}/assets\img\Team Photos\ART\Art robot.jpg">
					<div class="robotMarker__marker robotMarker__marker--camera">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="30.4%" y1="30.1%" x2="19%" y2="26%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>Camera</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--hydraulicShocks">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="65.4%" y1="62.1%" x2="72%" y2="75%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>8-Spring Hydraulic Shocks</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--gps">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="57.4%" y1="51.1%" x2="65%" y2="39%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Global Positioning System (GPS)</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--lrf">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="33.4%" y1="34.1%" x2="40%" y2="19%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Laser Range Finder (LRF)</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--emergencyStops">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="37.4%" y1="75.1%" x2="35%" y2="85%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>Manual & Wireless Emergency stops</p>
						</div>
					</div>
				</div>
			</div>
		</div> -->
      <!-- Slideshow container -->
      <div class="slideshow-container">
        <!-- <div class="mySlides fade">
				<img src="{{ site.baseurl }}/assets\img\Team Photos\ART\IMG_4168.jpg" style="width:100%">
			</div> -->
        <div class="mySlides fade">
          <img
            src="{{ site.baseurl }}/assets\img\Team Photos\ART\IMG_4403.JPG"
            style="width: 100%"
          />
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <img
            src="{{ site.baseurl }}/assets\img\Team Photos\ART\IMG_7015.jpg"
            style="width: 100%"
          />
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides fade">
          <img
            src="{{ site.baseurl }}/assets\img\Team Photos\ART\IMG_7084.jpg"
            style="width: 100%"
          />
          <!-- <div class="text">Caption Two</div> -->
        </div>

        <div class="mySlides fade">
          <img
            src="{{ site.baseurl }}/assets\img\Team Photos\ART\IMG_7075.jpg"
            style="width: 100%"
          />
          <!-- <div class="text">Caption Three</div> -->
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <h1 class="section__Title section__Title--small">The ART team</h1>
      <h2 class="section_subTitle">Hardware (Mechanical)</h2>
      <p>
        Out of metals and woods, we build the MUSCLES and BONES of the robots.
      </p>
      <h2 class="section_subTitle">Hardware (Electrical)</h2>
      <p>
        The electrical team serves as a bridge between the software and
        mechanical parts of the robot. Here you will work on motors, power
        systems and sensors.
      </p>
      <p style="text-indent: 0px">
        This year, the mechanical and the electrical teams are going to
        refurbish the heavy giant Caffeine that sits in the basement of Myhal.
        We are also going to disassemble a 50+ mph RC Crawler and build it into
        the second version of our small autonomous rover Proton, but named
        Photon! No prior experience is necessary as long as you are interested
        and dedicated! The team will host virtual workshops to gear you up for
        any challenges ahead.
      </p>
      <h2 class="section_subTitle">CV/ML</h2>
      <p>
        You’ve heard of all the buzz-words, and now, you can finally learn what
        they mean. On the vision team, we’ll focus on developing a pipeline to
        serve as the “eyes” of the robot. We’ll leverage input from cameras and
        other spatial sensors to detect and identify objects within the
        environment and provide this information to the robot to aid in its
        navigation. We develop numerous robust machine learning models to assist
        us in classification, and train them using rich, self-curated datasets.
        Members of this team will learn about the fundamentals of object
        detection using image processing and machine learning… oh and a little
        bit of math! No prior experience is necessary.
      </p>
      <h2 class="section_subTitle">ROS</h2>
      <p>
        Picture this, you have a robot built, sensors ready and an obstacle
        detection model working - but your robot doesn’t move. The ROS team
        serves as the glue between all the other sub-teams by leveraging ROS to
        process sensor inputs and produce appropriate motor commands to make the
        robot move autonomously. Early on, the ROS team uses simulation
        extensively to build a fully functional, competition ready robot and
        afterwards, focuses on migrating the code base onto the actual robot.
        With us, expect to learn about ROS, code development, simulation,
        navigation and system design!
      </p>
      <!-- <h2 class="section_subTitle">CV and SLAM Sub-team</h2>
		<p>This sub-team forms the eyes of the rover. We use OpenCV techniques and Machine Learning for lane detection and identifying obstacles. Simultaneous Localization and Mapping (SLAM) works on creating a map of the world around the rover using the LIDAR mounted on it. This map combined with the information obtained from CV is used to plan a path for the rover.</p> -->
      <!-- <h2 class="section_subTitle">Sensors</h2> -->
      <!-- <p>A robot is only as good as its sensors. ART buys a few high-end sensors and shares them across robot platforms. A large portion of our budget goes to these sensors, so we need people that know them inside and out. What they’re capable of, how to communicate with them, how to protect them, and which new sensors are required!</p> -->
      <br />

      <!-- <h1 class="section__Title section__Title--small">Competitions List</h1>
		<ul class="section_unorderedList">
			<li>IGVC – Intelligent Ground Vehicle Competition | UPCOMING</li>
			<li>RoboGames – Robomagellan</li>
			<li>Unmanned Ground Vehicle Competition</li>
			<li>Robot Racing</li>
		</ul> -->

		<div class="infoBlock" style="margin-right: 0rem">
			<div id="currentExecTeam_positionMarker" class="infoBlock__title">Current Executive Team</div>
			<div class="infoBlock__executiveWrapper">
				{% assign i = 0 %}
				{% for member in site.data.ARTExecs2024 %}
				{% if member.team == "PM" %}
				{% assign remainder = i | modulo: 4 %}
				{% if remainder == 0 or i == 0 %}
				<div class="infoBlock__execRow">
					{% endif %}

					{% assign i = i|plus:1 %}
					<div class="infoBlock__execImageWrapper">
						<img class="infoBlock__execImage" width="100%" src="{{ site.baseurl }}/assets/img/Team Photos/ART/exec_photos2024/{{member.PhotoID}}.jpg"></img>
				
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">{{ member.Name }}</div>
							<div class="infoBlock__execYear">{{ member.role }} {{ member.Discipline }} {{member.pey}}</div>
							<div class="infoBlock__execPosition"><center>{{ member.Role }}</center></div>
						</div>
					</div>
		
					{% assign remainder = i | modulo: 4 %}
					{% if remainder == 0 %}
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}

			</div>

      <div class="infoBlock__executiveWrapper">
				{% assign i = 0 %}
				{% for member in site.data.ARTExecs2024 %}
				{% if member.team == "EmbedLead" %}
				{% assign remainder = i | modulo: 4 %}
				{% if remainder == 0 or i == 0 %}
				<div class="infoBlock__execRow">
					{% endif %}

					{% assign i = i|plus:1 %}
					<div class="infoBlock__execImageWrapper">
						<img class="infoBlock__execImage" width="100%" src="{{ site.baseurl }}/assets/img/Team Photos/ART/exec_photos2024/{{member.PhotoID}}.jpg"></img>
				
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">{{ member.Name }}</div>
							<div class="infoBlock__execYear">{{ member.role }} {{ member.Discipline }} {{member.pey}}</div>
							<div class="infoBlock__execPosition"><center>{{ member.Role }}</center></div>
						</div>
					</div>
		
					{% assign remainder = i | modulo: 4 %}
					{% if remainder == 0 %}
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}

			</div>

      <div class="infoBlock__executiveWrapper">
				{% assign i = 0 %}
				{% for member in site.data.ARTExecs2024 %}
				{% if member.team == "MechLead" %}
				{% assign remainder = i | modulo: 4 %}
				{% if remainder == 0 or i == 0 %}
				<div class="infoBlock__execRow">
					{% endif %}

					{% assign i = i|plus:1 %}
					<div class="infoBlock__execImageWrapper">
						<img class="infoBlock__execImage" width="100%" src="{{ site.baseurl }}/assets/img/Team Photos/ART/exec_photos2024/{{member.PhotoID}}.jpg"></img>
				
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">{{ member.Name }}</div>
							<div class="infoBlock__execYear">{{ member.role }} {{ member.Discipline }} {{member.pey}}</div>
							<div class="infoBlock__execPosition"><center>{{ member.Role }}</center></div>
						</div>
					</div>
		
					{% assign remainder = i | modulo: 4 %}
					{% if remainder == 0 %}
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}

			</div>

      <div class="infoBlock__executiveWrapper">
				{% assign i = 0 %}
				{% for member in site.data.ARTExecs2024 %}
				{% if member.team == "CompVision" %}
				{% assign remainder = i | modulo: 4 %}
				{% if remainder == 0 or i == 0 %}
				<div class="infoBlock__execRow">
					{% endif %}

					{% assign i = i|plus:1 %}
					<div class="infoBlock__execImageWrapper">
						<img class="infoBlock__execImage" width="100%" src="{{ site.baseurl }}/assets/img/Team Photos/ART/exec_photos2024/{{member.PhotoID}}.jpg"></img>
				
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">{{ member.Name }}</div>
							<div class="infoBlock__execYear">{{ member.role }} {{ member.Discipline }} {{member.pey}}</div>
							<div class="infoBlock__execPosition"><center>{{ member.Role }}</center></div>
						</div>
					</div>
		
					{% assign remainder = i | modulo: 4 %}
					{% if remainder == 0 %}
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}

			</div>

      <div class="infoBlock__executiveWrapper">
				{% assign i = 0 %}
				{% for member in site.data.ARTExecs2024 %}
				{% if member.team == "OSLead" %}
				{% assign remainder = i | modulo: 4 %}
				{% if remainder == 0 or i == 0 %}
				<div class="infoBlock__execRow">
					{% endif %}

					{% assign i = i|plus:1 %}
					<div class="infoBlock__execImageWrapper">
						<img class="infoBlock__execImage" width="100%" src="{{ site.baseurl }}/assets/img/Team Photos/ART/exec_photos2024/{{member.PhotoID}}.jpg"></img>
				
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">{{ member.Name }}</div>
							<div class="infoBlock__execYear">{{ member.role }} {{ member.Discipline }} {{member.pey}}</div>
							<div class="infoBlock__execPosition"><center>{{ member.Role }}</center></div>
						</div>
					</div>
		
					{% assign remainder = i | modulo: 4 %}
					{% if remainder == 0 %}
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}

			</div>
			</div>
      
		</div>
    </section>

    <footer id="mainFooter">{% include footer.html %}</footer>
    <script
      type="text/javascript"
      src="{{ site.baseurl}}/assets/js/robotMarker.js"
    ></script>
    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      // Next/previous controls
      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      // Thumbnail image controls
      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

	  setInterval('plusSlides(1);', 4000);

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        // for (i = 0; i < dots.length; i++) {
        //   dots[i].className = dots[i].className.replace(" active", "");
        // }
        slides[slideIndex - 1].style.display = "block";
        // dots[slideIndex - 1].className += " active";
      }
    </script>
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/aboutPage.js'></script>
  </body>
</html>
