---
permalink: /teams/combat/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Combat</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Combat</h1>
		<div class="shortBanner__content">
			<p>Kickoff | 19:00 - 20:00 | Tuesday | Sept 17 | SF 1101</p>
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<a href="mailto:lightcombat@utra.ca"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>A combat robot is designed and built with the purpose of destroying and disabling the competitor robot. It is a remote-controlled robot and categorized into different weight classes, from less than a pound to two hundred plus pounds. The robot is usually designed with some method of damaging or disabling its opponent, and often built with weapons on it. Students are guided through design decisions as they prototype robots, providing experience with mechanical design, electronics, manufacturing, and the numerous other skills in robot development.</p>
		
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">Our Arsenal</h1>
		<div class="markerScroll">
			<div class="markerScoll__arrow markerScroll__leftScroll markerScroll__arrow--deactivated">
				<i class="fa fa-angle-left"></i>
			</div>
			<div class="markerScroll__wrapper">
				<div class="markerScroll__allMarkers">
					<div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">Annie</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--combatAnnie">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets/img/Combat/annie.jpg">
								</div>
							</div>
						</div>
					</div>
					<div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">Yellow Mouse</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--combatYellowMouse">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets/img/Combat/yellowmouse.jpg">
								</div>
							</div>
						</div>
					</div>
					<div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">TSA Inspected</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--combatTSAInspected">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets/img/Combat/TSA_Inspected.jpg">
								</div>
							</div>
						</div>
					</div>
					<div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">Kludge</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--combatKludge">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets/img/Combat/Kludge.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="markerScoll__arrow markerScroll__rightScroll">
				<i class="fa fa-angle-right"></i>
			</div>
		</div>

		<h1 class="section__Title section__Title--small">The Combat Team</h1>
		<p>The UTRA Combat team develops heavy duty remote controlled robots designed to withstand severe damage. These robots have a long history competing in gladiatorial competitions at RoboGames, the largest international robotics event with over 800 competitors, and many other international competitions, and now compete in the annual UIUC Robobrawl competition. The robot designs must incorporate a variety of features to be competitive, including shock damping for connections and electronics, selection of high strength aluminum, steel, and titanium alloys, machinability, heat treatments and electrical safety for currents up to 300 Amps.</p>
		<p>The robot we built for the 2019 competition is Annie, a 30 lbs drumbot. Don’t let the name fool you: she is a lean, mean ghting machine. Sporting 3 wins and 2 losses, she was dubbed Annie the Annihilator by her opponents and won 7th place internationally in the Robobrawl 2019 competition held in Illinos. Due to the large increase of active members in the 2018/2019 year, UTRA will be adpoting a second combat team to compete in the 2019/2020 year.</p>
		<br>
		<h1 class="section__Title section__Title--small">Past Events</h1>
		<div class="section__accordion">
			<div class="accordionWrapper">
				<div class="accordionElement">
					<h1 class="accordion__title">RoboBrawl 2019: UTRA Annie vs Botceps</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/F4rqL2Ij5L0" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboBrawl 2019: UTRA Annie vs Turtle Terminator</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/z8pS-hY-ROA" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboBrawl 2019: UTRA Annie vs WALL F</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/OpYqiItZytw" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboBrawl 2019: UTRA Annie vs Rat Catcher</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/c2z4jCBytFw" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboGames 2012: UTRA TSA Inspected vs The Mortician</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/hcYYq6xUfBA" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboGames 2011 Final: UTRA TSA Inspected vs Maloney</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/GAcIqfLl2d4" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboGames 2010 Final: UTRA TSA Inspected vs The Mortician</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/3FbLipnVHVU" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="section__PhotoSpec">
			<div class="PhotoSpec__Robot">
				<div class="PhotoSpec__photo PhotoSpec__photo--YellowMouse"></div>
				<div class="PhotoSpec__specs">
					<div class="PhotoSpec__name">Yellow Mouse</div>

					<div class="PhotoSpec__heading">General</div>
					<div class="PhotoSpec__item">Weight Class: Lightweight (60 lbs)</div>

					<div class="PhotoSpec__heading">Mobility System</div>
					<div class="PhotoSpec__item">Type: 2 Wheel Differential Drive (Tank-styled)</div>
					<div class="PhotoSpec__item">Motors: Dual 02446 Motors from National Power Chair Robotics (NPC)</div>
					<div class="PhotoSpec__item">Wheels: 6 inch - Rubber</div>

					<div class="PhotoSpec__heading">Radio System</div>
					<div class="PhotoSpec__item">Transmitter: Spektrum DX6 with Modified Gimbals</div>
					<div class="PhotoSpec__item">Receiver: AR610</div>

					<div class="PhotoSpec__heading">Power Pack</div>
					<div class="PhotoSpec__item">Type: Rechargeable Electric</div>
					<div class="PhotoSpec__item">Cells: Lithium Polymer (LiPO)</div>
					<div class="PhotoSpec__item">Voltage: 22.2 Volts</div>
					<div class="PhotoSpec__item">Capacity: 6.8 Amp-Hours</div>

					<div class="PhotoSpec__heading">Power Converters</div>
					<div class="PhotoSpec__item">Type: Dual Talon SR speed controllers</div>

					<div class="PhotoSpec__heading">Armour</div>
					<div class="PhotoSpec__item">Type: One-piece Welded Steel</div>
					<div class="PhotoSpec__item">Steel Type: A1008 Cold rolled steel</div>
					<div class="PhotoSpec__item">Access Panels: Lexan</div>

					<div class="PhotoSpec__heading">Attack Features</div>
					<div class="PhotoSpec__item">Low-profile wedge</div>
					<div class="PhotoSpec__item">Anti-Wedge Scraper Blade</div>
					<div class="PhotoSpec__item">Single Bolt-on Hook (Not shown in picture)</div>
				</div>
			</div>
			<div class="PhotoSpec__Robot">
				<div class="PhotoSpec__photo PhotoSpec__photo--TSAInspected"></div>
				<div class="PhotoSpec__specs">
					<div class="PhotoSpec__name">TSA Inspected</div>

					<div class="PhotoSpec__heading">General</div>
					<div class="PhotoSpec__item">Weight Class: Middleweight (120 lbs)</div>

					<div class="PhotoSpec__heading">Mobility System</div>
					<div class="PhotoSpec__item">Type: 2 Wheel Differential Drive (Tank-styled)</div>
					<div class="PhotoSpec__item">Motors: Dual 02446 Motors from National Power Chair Robotics (NPC)</div>
					<div class="PhotoSpec__item">Wheels: 6 inch - Rubber</div>

					<div class="PhotoSpec__heading">Radio System</div>
					<div class="PhotoSpec__item">Transmitter: Spektrum DX6 with Modified Gimbals</div>
					<div class="PhotoSpec__item">Receiver: AR610</div>

					<div class="PhotoSpec__heading">Power Pack</div>
					<div class="PhotoSpec__item">Type: Rechargeable Electric</div>
					<div class="PhotoSpec__item">Cells: Lithium Polymer (LPOi)</div>
					<div class="PhotoSpec__item">Voltage: 22.2 Volts</div>
					<div class="PhotoSpec__item">Capacity: 6.8 Amp-Hours</div>

					<div class="PhotoSpec__heading">Power Converters</div>
					<div class="PhotoSpec__item">Type: Dual Talon SR speed controllers</div>

					<div class="PhotoSpec__heading">Armour</div>
					<div class="PhotoSpec__item">Type: One-piece Welded Steel</div>
					<div class="PhotoSpec__item">Steel Type: A1008 Cold rolled steel</div>
					<div class="PhotoSpec__item">Access Panels: Lexan</div>

					<div class="PhotoSpec__heading">Attack Features</div>
					<div class="PhotoSpec__item">Low-profile wedge</div>
					<div class="PhotoSpec__item">Anti-Wedge Scraper Blade</div>
					<div class="PhotoSpec__item">Single Bolt-on Hook (Not shown in picture)</div>
				</div>
			</div>
			<div class="PhotoSpec__Robot">
				<div class="PhotoSpec__photo PhotoSpec__photo--Kludge"></div>
				<div class="PhotoSpec__specs">
					<div class="PhotoSpec__name">Kludge</div>

					<div class="PhotoSpec__heading">General</div>
					<div class="PhotoSpec__item">Weight Class: Featherweight (30 lbs)</div>

					<div class="PhotoSpec__heading">Mobility System</div>
					<div class="PhotoSpec__item">Type: 4 Wheel Differential Drive (Tank-styled)</div>
					<div class="PhotoSpec__item">Motors: Dual Bosch Motors with Planetary Gearboxes (last stage removed)</div>
					<div class="PhotoSpec__item">Wheels: Plastic Wheel with Thermoplastic Rubber Tread</div>

					<div class="PhotoSpec__heading">Radio System</div>
					<div class="PhotoSpec__item">Transmitter: Spektrum DX6 with Modified Gimbals</div>
					<div class="PhotoSpec__item">Receiver: BR6000</div>

					<div class="PhotoSpec__heading">Power Pack</div>
					<div class="PhotoSpec__item">Type: Rechargeable</div>
					<div class="PhotoSpec__item">Cells: Nickel Metal Hydride (NiMH)</div>
					<div class="PhotoSpec__item">Voltage: 28.8 Volts</div>
					<div class="PhotoSpec__item">Capacity: 4.8 Amp-Hours</div>

					<div class="PhotoSpec__heading">Power Converters</div>
					<div class="PhotoSpec__item">Type: Dual 12V Victor 884 from IFI Robotics (Drive)</div>
					<div class="PhotoSpec__item">Type: Single 24V Victor 883 from IFI Robotics (Weapon)</div>

					<div class="PhotoSpec__heading">Armour</div>
					<div class="PhotoSpec__item">Type: Bolted General Purpose Aluminum</div>
					<div class="PhotoSpec__item">Access Panels: Lexan</div>

					<div class="PhotoSpec__heading">Attack Features</div>
					<div class="PhotoSpec__item">Vertical Spinning Drum with 24V DeWatt Hammer Drill Motor</div>
					<div class="PhotoSpec__item">Anti-Wedge Side Skirts</div>
				</div>
			</div>
		</div> -->



		<!-- <h1 class="section__Title section__Title--small">Competitions List</h1>
		<ul class="section_unorderedList">
			<li>MakerFaire Orlando | UPCOMING</li>
			<li>RoboGames – Combat</li>
		</ul> -->

	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>
	<!-- scripts -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/robotMarker.js"></script>
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/accordion.js'></script>
</body>
</html>