---
permalink: /teams/fabrication/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Fabrication</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Fabrication</h1>
		<div class="shortBanner__content">
			<p>Kickoff | COMING SOON!</p>
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<a href="mailto:3dp@utra.ca"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>The Fabrication team at UTRA is dedicated to designing items for 3D printing, a technology that transforms digital models into physical objects. Additionally, the team offers 3D printing services for the entire UTRA team and the general UofT student population. The inclusion of 3D printed parts in the UTRA robot designs has enabled UTRA to accelerate the pace of our robot design and development strategy.</p>
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">Our Printers</h1>

		<div class="markerScroll">
			<div class="markerScoll__arrow markerScroll__leftScroll markerScroll__arrow--deactivated">
				<i class="fa fa-angle-left"></i>
			</div>
			<div class="markerScroll__wrapper">
				<div class="markerScroll__allMarkers">
					<div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">Flashforge Creator Pro</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--fabricationFlashforgeCreator">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets/img/3DP/Undated FolgerTech FT-5 Printer Build/IMG_1012.JPG">
								</div>
							</div>
						</div>
					</div>
					<div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">Flashforge Finder</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--fabricationFlashforgeFinder">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets\img\3DP\FlashForge Printers\FlashForge Finder.jpg">
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="markerScroll__markerWrapper">
						<div class="markerScroll__markerTitle">FolgerTech Ft-5</div>
						<div class="section__robotMarker">
							<div class="robotMarker robotMarker--SUMORobot">
								<div class="robotMarker__imageWrapper">
									<div class="robotMarker__imageFader"></div>
									<img src="{{ site.baseurl }}/assets\img\3DP\FlashForge Printers\FlashForge Finder.jpg">
									<div class="robotMarker__marker robotMarker__marker--IRSensor">
										<div class="robotMarker__markerCircle"></div>
										<svg class="robotMarker__markerLine">
										    <line x1="60.4%" y1="42.1%" x2="75%" y2="27%" />
										</svg>
										<div class="robotMarker__markerDescription">
											<p>Ultrasonic Range Sensor</p>
										</div>
									</div>
									<div class="robotMarker__marker robotMarker__marker--chassis">
										<div class="robotMarker__markerCircle"></div>
										<svg class="robotMarker__markerLine">
										    <line x1="52.1%" y1="64.8%" x2="59%" y2="80%" />
										</svg>
										<div class="robotMarker__markerDescription">
											<p>Aluminum Metal Chassis</p>
										</div>
									</div>
									<div class="robotMarker__marker robotMarker__marker--motors">
										<div class="robotMarker__markerCircle"></div>
										<svg class="robotMarker__markerLine">
										    <line x1="30.9%" y1="50.7%" x2="19%" y2="37%" />
										</svg>
										<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
											<p>Dual DC Motors</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="markerScoll__arrow markerScroll__rightScroll">
				<i class="fa fa-angle-right"></i>
			</div>
		</div>






<!-- 
		<div class="section__PhotoSpec">
			<div class="PhotoSpec__Robot">
				<div class="PhotoSpec__photo PhotoSpec__photo--FlashForgeCreatorPro"></div>
				<div class="PhotoSpec__specs">
					<div class="PhotoSpec__name">FlashForge Creator Pro</div>

					<div class="PhotoSpec__heading">Print Volume</div>
					<div class="PhotoSpec__item">227mm x 148mm x 150mm</div>

					<div class="PhotoSpec__heading">Layer Resolution</div>
					<div class="PhotoSpec__item">100-500 microns</div>

					<div class="PhotoSpec__heading">Dual Extruder</div>
					<div class="PhotoSpec__item">Yes</div>

					<div class="PhotoSpec__heading">Materials</div>
					<div class="PhotoSpec__item">PLA, ABS, TPU</div>
				</div>
			</div>
			<div class="PhotoSpec__Robot">
				<div class="PhotoSpec__photo PhotoSpec__photo--FolgerTech"></div>
				<div class="PhotoSpec__specs">
					<div class="PhotoSpec__name">FolgerTech Ft-5</div>

					<div class="PhotoSpec__heading">Print Volume</div>
					<div class="PhotoSpec__item">300mm x 300mm x 400mm</div>

					<div class="PhotoSpec__heading">Layer Resolution</div>
					<div class="PhotoSpec__item">50 microns</div>

					<div class="PhotoSpec__heading">Dual Extruder</div>
					<div class="PhotoSpec__item">Available as a modification</div>

					<div class="PhotoSpec__heading">Materials</div>
					<div class="PhotoSpec__item">PLA</div>
				</div>
			</div>
		</div> -->


		<p>Previously known as the 3D Printing team at UTRA, Fabrication is now dedicated to providing manufacturing support, such as 3D printing and laser cutting to all subteams. To continue the UTRA theme of introducing new members to robotics, the Fabrication team plans to teach the other subteams and interested individuals how to efficiently create CAD models for engineering projects, properly operate a 3D printer, and proper design for other manufacturing methods available on campus. Currently, the team uses a Flashforge Finder and a Flashforge Creator Pro, both printing primarily in PLA.</p>
		<h2 class="section_subTitle">Some of the print work for other sub teams includes:</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>Robot chassis for the SUMO teams</li>
			<li>Mounts for the electronics in Combat</li>
			<li>Portions of the chassis and electronic mounts for Robosoccer</li>
			<li>Generally, whatever odds and ends are needed for the teams’ projects</li>
		</ul>
<!-- 
		<p> With these printers, we have provided support for our various UTRA teams, including but not limited to:</p>
			<ul class="section_unorderedList section_unorderedList--indent">
			<li>How to efficiently create of CAD models</li>
			<li>Techniques for properly operating a 3D printer</li>
			<li>How to skillfully manufacture modular 3D prints</li>
		</ul>

		 as well as designed and manufactured quardcopters for team members.</p>
		<h2 class="section_subTitle">Things you can expect to learn:</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>How to efficiently create of CAD models</li>
			<li>Techniques for properly operating a 3D printer</li>
			<li>How to skillfully manufacture modular 3D prints</li>
		</ul>
 -->
		<br>
		<h1 class="section__Title section__Title--small">Our Prints!</h1>
		<div class="galleryGrid">
			<div class="galleryGrid__arrow galleryGrid__arrow--deactivated">
				<i id="galleryLeft" class="fa fa-angle-left"></i>
			</div>
			<div class="galleryGrid__photoWrapper">
				<div id="gallery" class="galleryGrid__pages">
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/3DP/Undated 3D Prints/IMG_1014.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/3DP/Undated 3D Prints/IMG_1034.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/3DP/Undated 3D Prints/IMG_1057.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/3DP/Undated 3D Prints/IMG_1055.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/3DP/Undated 3D Prints/IMG_1065.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/3DP/Undated 3D Prints/IMG_1062.JPG"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__arrow galleryGrid__arrow--deactivated">
				<i id="galleryRight" class="fa fa-angle-right"></i>
			</div>
		</div>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

	<!-- scripts -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/gallery.js"></script>
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/robotMarker.js"></script>
</body>
</html>
