---
permalink: /teams/heavyCombat/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | SUMO</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">SUMO</h1>
		<div class="shortBanner__content">
			<p>18:00 - 20:00 | Thursdays | MyHal Centre </p>

		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>A combat robot is designed and built with the purpose of destroying and disabling the competitor robot. It is a remote-controlled robot and categorized into different weight classes, from less than a pound to two hundred plus pounds. The robot is usually designed with some method of damaging or disabling its opponent, and often built with weapons on it. UTRA has been building the 120 pound combat robot and competing at RoboGames, which is known as the largest competition in the world.</p>
		
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">Our Arsenal</h1>
		
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>