<!-- ---
permalink: /teams/lightCombat/index.html
--- -->
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | SUMO</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">SUMO</h1>
		<div class="shortBanner__content">
			<p>18:00 - 20:00 | Thursdays | MyHal Centre </p>

		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>Interested in the robotics? Not sure where to start off? Well, the Sumo team might just be the team for you!! Working on Sumo bots allowed our members to gain hands-on experience and exposed them to the electrical, mechanical and software aspects of engineering design. Students make their own teams of 3 and are provided with a circuit design, sensors, electrical components and example code.</p>
		
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">The SUMO Competition</h1>
		<p>The goal is to build an autonomous 10cm x 10cm robot with IR range finders to locate the opponent and light sensors to detect the edge of the ring. Two mini - sumo robots are placed in a black circular ring with a white border; the two robots try to push one another out of the ring, the last robot in the ring wins. Students use the circuit design to etch and solder their own circuit boards; they design the chassis in 3D CAD, then cut and bend the chassis from sheet metal; they write the software in C directly on the microcontroller.</p>
		<p>UTRA hosts an autonomous mini-sumo competition at the end of the year, where the teams com pete for bragging rights amongst their peers. We organize tutorial sessions which cover most of the necessary know-how, practical and theoretical concepts required in the three areas involved:</p>
		<h2 class="section_subTitle">Electrical:</h2>
		<ul class="section_unorderedList">
			<li>Etching Printed Circuit Boards (PCBs)</li>
			<li>Circuit theory, electrical components</li>
			<li>Soldering, wire organization</li>
			<li>Debugging</li>
		</ul>
		<h2 class="section_subTitle">Embedded:</h2>
		<ul class="section_unorderedList">
			<li>Programming microcontrollers</li>
			<li>Process data from sensors</li>
			<li>Hardware - software communication (using C)</li>
		</ul>
		<h2 class="section_subTitle">Mechanical:</h2>
		<ul class="section_unorderedList">
			<li>Working with tools and machining sheet metal</li>
			<li>Drilling</li>
			<li>Cutting</li>
			<li>3D CAD modeling with Solidworks</li>
			<li>Prototyping</li>
		</ul>


	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>