---
permalink: /teams/pacbot/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Pacbot</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Pacbot</h1>
		<div class="shortBanner__content">
			<p>18:00 - 20:00 | Tuesdays | MyHal Centre </p>

		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>Interested in the robotics? Not sure where to start off? Well, the Sumo team might just be the team for you!! Working on Sumo bots allowed our members to gain hands-on experience and exposed them to the electrical, mechanical and software aspects of engineering design. Students make their own teams of 3 and are provided with a circuit design, sensors, electrical components and example code.</p>
		
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">Introduction</h1>
		<p>Pacbot is a competition designed and hosted by the Harvard Undergraduate Robotics Club. The competition mimics the popular arcade game of "Pac-man". Participating team’s robot, which is called the PacBot, will assume the role of Pac-man, navigate itself through the arena, eat dots, and avoid or attack ghosts to collect points</p>

		
		
<!-- 		<h2 class="section_subTitle">Electrical:</h2>
		<ul class="section_unorderedList">
			<li>Etching Printed Circuit Boards (PCBs)</li>
			<li>Circuit theory, electrical components</li>
			<li>Soldering, wire organization</li>
			<li>Debugging</li>
		</ul>
		<h2 class="section_subTitle">Embedded:</h2>
		<ul class="section_unorderedList">
			<li>Programming microcontrollers</li>
			<li>Process data from sensors</li>
			<li>Hardware - software communication (using C)</li>
		</ul>
		<h2 class="section_subTitle">Mechanical:</h2>
		<ul class="section_unorderedList">
			<li>Working with tools and machining sheet metal</li>
			<li>Drilling</li>
			<li>Cutting</li>
			<li>3D CAD modeling with Solidworks</li>
			<li>Prototyping</li>
		</ul> -->


	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>