---
permalink: /teams/robonars/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Robonars</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Robonars</h1>
		<div class="shortBanner__content">
			<p>KICKOFF | Friday, September 24th | 6PM - 7PM (EST)</p>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>The Robonars subteam serves to provide robotics related lecture series and workshops throughout the academic year. The content covered includes mechanical, hardware, and software aspects. All workshops are drop-in based.</p>
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">WORKSHOP</h1>
		<div class="section__robotMarker">
			<div class="robotMarker robotMarker--Pacbot">
				<div class="robotMarker__imageWrapper">
					<img src="{{ site.baseurl }}/assets\img\Robonars\Robonars Workshop.jpg">
				</div>
			</div>
		</div>

		<h1 class="section__Title section__Title--small">Description</h1>
		<p>Robonars is a subteam of UTRA re-established in 2019. The goal of the team is to provide the fundamental and essential technical knowledge required for one to turn ideas into reality. The lecture series range from introductory topics like introduction to Python programming language to more advanced topics such as ROS in software, Solidworks in CAD, etc. Students also can attend arduino-based workshops with the option in purchasing the hardware.</p>
    		<p>Speakers range from leads of other subteams in UTRA, including current upper year students and alumni. Other career related workshops, including industry mixes, are also offered throughout the year. All lectures are open to all students at the University of Toronto.</p>
	</section>
	
	<footer id="mainFooter">{% include footer.html %}</footer>

	<!-- scripts -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/robotMarker.js"></script>
</body>
</html>
