---
permalink: /teams/robosoccer/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | RoboSoccer</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">RoboSoccer</h1>
		<div class="shortBanner__content">
			<p>Kickoff | 18:00 - 19:00 | Thursday | Sept 12 | BA 2175 </p>
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<a href="mailto:soccer@utra.ca"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>The UTRA RoboSoccer team designs and builds humanoid robots in order to compete in the RoboCup Humanoid competition where robots play soccer against each other. The goal of this competition is to develop a team of humanoid robots that are able to win against the official human World Soccer Champion team by the year 2050. Our team is one of many across the globe working towards this comman goal.</p>
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">THE ROBOSOCCER ROBOT</h1>

		<div class="section__robotMarker">
			<div class="robotMarker robotMarker--RobosoccerBot">
				<div class="robotMarker__imageWrapper">
					<div class="robotMarker__imageFader"></div>
					<img src="{{ site.baseurl }}/assets\img\RoboSoccer\robot.jpg">
					<div class="robotMarker__marker robotMarker__marker--webcam">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="54.5%" y1="8.5%" x2="75%" y2="18%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Logitech C920 Webcam</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--jetson">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="57.1%" y1="43.8%" x2="78%" y2="34%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Jetson Tx2 "Brain"</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--3dprinted">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="46.9%" y1="36.7%" x2="28%" y2="18%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>Fully 3D Printed</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--degreeFreedom">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="68.9%" y1="54.7%" x2="76%" y2="82%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>18 degrees of freedom</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--servo">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="47.9%" y1="69.7%" x2="40%" y2="89%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>MX28T & AX12A Dynamixel Servo Motors</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="section__Title section__Title--small">The RoboSoccer team</h1>
		<p>Initial efforts to create this new branch within UTRA began summer 2016. However, it was not until summer 2017 that we were well-defined and the creation of our robots from scratch began. Following some recruitment around that time, our team had a small number of members split across three subsystems: mechanical, electrical and software. Later that summer, the embedded subsystem (microcontroller software), emerged out of the electrical subsystem, and the control subsystem was formed to focus on bipedal locomotion. By the end of 2017, our team grew to more than 20 members, all engineering undergraduates at the University of Toronto. Around that time, we were highly focused on achieving the basic requirements to qualify for the 2018 RoboCup competition in Montreal that upcoming summer. Some of each of our subteam's achievements and activities are summarized below:</p>
		<h2 class="section_subTitle">Electrical Team</h2>
		<ul class="section_unorderedList">
			<li>Creating the Main Microcontroller PCB</li>
			<li>Foot Pressure Sensing</li>
			<li>PCB Manufacturing for Rapid Prototyping</li>
		</ul>
		<h2 class="section_subTitle">Embedded Team</h2>
		<ul class="section_unorderedList">
			<li>Smart Servo Motor control</li>
			<li>IMU Data Acquisition</li>
			<li>Multi-threaded Control Loop and Peripheral Management</li>
			<li>Development of microcontroller firmware</li>

		</ul>
		<h2 class="section_subTitle">Controls Team</h2>
		<ul class="section_unorderedList">
			<li>Trajectories for working, turning, strafing, and kicking using stablized balance center of gravity method</li>
			<li>Control complete done in Simulink</li>
			<li>Deep Mimic Reinforcement Control</li>
		</ul>
		<h2 class="section_subTitle">Software Team</h2>
		<ul class="section_unorderedList">
			<li>Advanced Navigation of robot, including finding and locating the ball, field lines, other robots and goal nets</li>
			<li>Particle Filtering and Monte-Carlo Localization for localization of robot and obstacles</li>
			<li>Computer Vision</li>
			<li>Strategy</li>
		</ul>
		<h2 class="section_subTitle">Mechanical Team</h2>
		<ul class="section_unorderedList">
			<li>RoboSoccer robot design</li>
			<li>3D CAD modeling in Autodesk Fusion 360</li>
			<li>3D Printing</li>
			<li>Assembling of robot</li>
		</ul>

		<h1 class="section_subTitle">More information about the UTRA RoboSoccer team can be found <a class="linkToSite" href="http://utrahumanoid.ca/">here</a></h1>
		<br>
		<h1 class="section__Title section__Title--small">Robot Feats</h1>

		<div class="section__accordion">
			<div class="accordionWrapper">
				<div class="accordionElement">
					<h1 class="accordion__title">Doing a backflip</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/KY-j0H8Yqi0" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">Getting up (forwards)</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/vKF9ddF4Gi8" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboCup 2018 Qualification video</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/Q151O2IIX_g" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboCup 2019 Qualification video</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/DLhzsoEVf4I" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
				<div class="accordionElement">
					<h1 class="accordion__title">RoboCup 2020 Qualification video</h1>
					<div class="accordion__contentWrapper">
						<div class="accordion__video">
							<iframe src="https://www.youtube.com/embed/OsnoJQtPXjM" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h1 class="section__Title section__Title--small">2018 Montreal Robocup</h1>
		<div class="galleryGrid">
			<div class="galleryGrid__arrow galleryGrid__arrow--deactivated">
				<i id="galleryLeft" class="fa fa-angle-left"></i>
			</div>
			<div class="galleryGrid__photoWrapper">
				<div id="gallery" class="galleryGrid__pages">
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01539.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01541.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01547.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01569.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01670.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01676.JPG"></div>
						</div>
					</div>
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01684.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01690.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01719.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01731.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01734.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01735.JPG"></div>
						</div>
					</div>
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01775.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01781.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01782.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01783.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01682.JPG"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/RoboSoccer/2018 robocup/DSC01784.JPG"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__arrow">
				<i id="galleryRight" class="fa fa-angle-right"></i>
			</div>
		</div>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

	<!-- scripts -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/robotMarker.js"></script>
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/accordion.js'></script>
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/gallery.js'></script>
</body>
</html>
