---
permalink: /teams/SUMO/index.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | SUMO</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">SUMO</h1>
		<div class="shortBanner__content">
			<p>Coming Soon</p>
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<a href="https://www.facebook.com/groups/916027268773579" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="socialIconCircle">
					<a href="mailto:sumo@utra.ca"><i class="fa fa-envelope"></i></a>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p>Interested in robotics? Not sure where to start off? Join SUMO to learn the basics of robotics! SUMO is a club that aims to introduce beginners into the world of robotics. Gain experience in the mechanical and software aspects of engineering design. Students will be provided with workshops to learn how to create their own simulated robot and compete at the end-of-year competition in teams of 3.</p>
		
	</section>

	<section class="section__teamBody section--backgroundAlternate">
		<h1 class="section__Title section__Title--small">THE SUMO ROBOT</h1>

		<div class="section__robotMarker">
			<div class="robotMarker robotMarker--SUMORobot">
				<div class="robotMarker__imageWrapper">
					<div class="robotMarker__imageFader"></div>
					<img src="{{ site.baseurl }}/assets\img\SUMO\good.jpg">
					<div class="robotMarker__marker robotMarker__marker--IRSensor">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="60.4%" y1="42.1%" x2="75%" y2="27%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Ultrasonic Range Sensor</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--chassis">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="52.1%" y1="64.8%" x2="59%" y2="80%" />
						</svg>
						<div class="robotMarker__markerDescription">
							<p>Aluminum Metal Chassis</p>
						</div>
					</div>
					<div class="robotMarker__marker robotMarker__marker--motors">
						<div class="robotMarker__markerCircle"></div>
						<svg class="robotMarker__markerLine">
						    <line x1="30.9%" y1="50.7%" x2="19%" y2="37%" />
						</svg>
						<div class="robotMarker__markerDescription robotMarker__markerDescription--alignRight">
							<p>Dual DC Motors</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h1 class="section__Title section__Title--small">The Competition</h1>
		<p>The goal is to create a simulated version of an autonomous robot with IR range sensors to locate the opponent and light sensors to detect the edge of the ring. Two “sumo” robots are spawned in a black circular ring with a white border; the two simulated robots try to push one another out of the ring, the last robot in the ring wins. Students get to design the chassis in 3D CAD, and write the software for the robot using ROS.</p>
		<p>UTRA hosts an online simulated autonomous mini-sumo competition at the end of the year, where the teams compete for bragging rights amongst their peers. We organize tutorial sessions which cover most of the necessary know-how, practical, and theoretical concepts required in the two areas involved.</p>
		<h2 class="section_subTitle">Mechanical:</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>3D CAD modelling</li>
			<li>Prototyping</li>
		</ul>
		<h2 class="section_subTitle">Software:</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>Using ROS framework to simulate robot</li>
			<li>Programming sensors</li>
			<li>Process data from sensors</li>
			<li>Create your own algorithm</li>
		</ul>
		<p>The competition will be open only to undergraduate students of University of Toronto. In addition, a student may not compete in the competition more than once. This is to encourage students to move on to UTRA’s bigger teams. We are letting you choose your own groups and highly recommend that you get into groups of three. We recommend teams of 3, but will allow teams of 1 to 5. If your team consists of 6 or more, you will be required to divide into 2 groups.</p>
		<!--<h2 class="section_subTitle">Area</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>The playing field will consist of a 30-inch diameter circle, finished in a non-reflective black surface with a white painted boarder and elevated 1 inch above the floor.</li>
			<li>When you’re ready to practice, we have an arena in EA-106 that you can try your robot on.</li>
		</ul>
		<h2 class="section_subTitle">Design Constraints</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>At the start of each round, each competing machine must be able to fit into a box with internal dimensions with a width and length of 10 cm. There is no restriction on height.</li>
			<li>The weight of the robot itself may not exceed 1 Kg.</li>
			<li>No destructive weapons allowed.</li>
			<li>The power supply and all control devices must be on-board.</li>
		</ul>
		<h2 class="section_subTitle">Match Rules</h2>
		<ul class="section_unorderedList section_unorderedList--indent">
			<li>At the start of each round, the robots will be placed on opposite sides of the platform facing in a clockwise direction (i.e., not at each other).</li>
			<li>The intentional dropping of objects, whether tethered or not, is forbidden.</li>
			<li>A robot loses by exiting the ring or being disabled</li>
		</ul> -->
		<br>
		<h1 class="section__Title section__Title--small">Past Competitions</h1>
		<div class="galleryGrid">
			<div class="galleryGrid__arrow galleryGrid__arrow--deactivated">
				<i id="galleryLeft" class="fa fa-angle-left"></i>
			</div>
			<div class="galleryGrid__photoWrapper">
				<div id="gallery" class="galleryGrid__pages">
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/team.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/1.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/good3.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6865.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6888.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6955.jpg"></div>
						</div>
					</div>
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6903.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6955.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6983.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6959.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/you3.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6957.jpg"></div>
						</div>
					</div>
					<div class="galleryGrid__page">
						<div class="galleryGrid__pagePhotoFlexWrapper">
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6907.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6917.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6869.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/robot.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6878.jpg"></div>
							<div class="galleryGrid__photo"><img src="{{ site.baseurl }}/assets/img/Team Photos/sumo/teamPage Photos/IMG_6845.jpg"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="galleryGrid__arrow">
				<i id="galleryRight" class="fa fa-angle-right"></i>
			</div>
		</div>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>


	<!-- scripts -->
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/gallery.js"></script>
	<script type="text/javascript" src="{{ site.baseurl}}/assets/js/robotMarker.js"></script>
</body>
</html>
