.header {
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100vw; }

.mainMenu {
  transition: background-color 0.2s;
  background-color: rgba(0, 0, 0, 0);
  height: 75px; }
  .mainMenu .mainMenu__list {
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 120px; }
  .mainMenu .mainMenu__menuItem {
    margin: 5px; }
    .mainMenu .mainMenu__menuItem:after {
      content: '';
      position: relative;
      left: 50%;
      top: 2px;
      transform: translateX(-50%);
      width: 70%;
      background-color: white;
      opacity: 0;
      display: block;
      height: 2px;
      transition: opacity 0.2s, top 0.2s; }
    .mainMenu .mainMenu__menuItem a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 5px 15px 5px 15px;
      color: #DADADA;
      font-weight: bold;
      font-size: 1.0em;
      transition: color 0.1s; }
      .mainMenu .mainMenu__menuItem a:hover {
        color: white; }
    .mainMenu .mainMenu__menuItem:hover:after {
      content: '';
      position: relative;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      width: 70%;
      background-color: white;
      opacity: 1;
      display: block;
      height: 2px; }

.logo.logo--header {
  position: absolute;
  left: 30px;
  bottom: 0px;
  height: 75px; }
.logo img {
  height: 100%; }

.header--aboutActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--about a {
  color: white;
  transition: none; }
.header--aboutActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--about:after {
  content: '';
  position: relative;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 70%;
  background-color: white;
  opacity: 1;
  display: block;
  height: 2px;
  transition: none; }

.header--teamsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--teams a {
  color: white;
  transition: none; }
.header--teamsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--teams:after {
  content: '';
  position: relative;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 70%;
  background-color: white;
  opacity: 1;
  display: block;
  height: 2px;
  transition: none; }

.header--eventsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--events a {
  color: white;
  transition: none; }
.header--eventsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--events:after {
  content: '';
  position: relative;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 70%;
  background-color: white;
  opacity: 1;
  display: block;
  height: 2px;
  transition: none; }

.header--sponsorsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--sponsors a {
  color: white;
  transition: none; }
.header--sponsorsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--sponsors:after {
  content: '';
  position: relative;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 70%;
  background-color: white;
  opacity: 1;
  display: block;
  height: 2px;
  transition: none; }

.fullScreenImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .fullScreenImage .fullScreenImage__overley {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2; }
  .fullScreenImage .fullScreenImage__image {
    background-image: url("../img/SUMO/good.jpg");
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }

.bannerImage {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative; }
  .bannerImage .bannerImage__titleText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    text-align: center;
    font-size: 5em; }
  .bannerImage .bannerImage__overley {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2; }
  .bannerImage .bannerImage__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; }
    .bannerImage .bannerImage__image.bannerImage__image--about {
      background-image: url("../img/UTRA Exec Photoshoot 171120/DSC_4016.jpg");
      background-position: 50% 30%; }

.aboutPageWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 4vw; }

.sideMenu {
  height: 190px;
  margin-top: calc(30px + 6%);
  margin-right: 5vw;
  margin-left: 5vw; }
  .sideMenu .sideMenu__titleText {
    font-size: 1.9em;
    font-weight: 500;
    color: #45526B; }
    .sideMenu .sideMenu__titleText:after {
      display: block;
      content: '';
      height: 3px;
      width: 26.5px;
      background-color: #CD959A;
      margin-top: 10px; }
  .sideMenu .sideMenu__list {
    list-style-type: none;
    margin-top: 25px; }
    .sideMenu .sideMenu__list .sideMenu__menuItem {
      padding: 2.5px 0px 0px 2.5px;
      font-size: 1.2em;
      color: #45526B;
      opacity: 0.8;
      cursor: pointer;
      transition: color 0.2s; }
      .sideMenu .sideMenu__list .sideMenu__menuItem:hover {
        color: #CD959A; }

.infoBlock {
  background-color: #F5F9FC;
  flex: 1;
  margin-right: 10vw;
  padding-top: calc(30px + 6%);
  padding-bottom: calc(30px + 6%);
  padding-left: calc(20px + 7.5%);
  padding-right: calc(20px + 7.5%); }
  .infoBlock .infoBlock__title {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: #45526B;
    margin-top: 20px;
    margin-bottom: 20px; }
    .infoBlock .infoBlock__title:first-child {
      margin-top: 0px; }
    .infoBlock .infoBlock__title.infoBlock__title--caption {
      font-size: 3em;
      font-weight: 800; }
  .infoBlock .infoBlock__paragraph {
    line-height: 25px;
    color: #45526B;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px; }

.infoBlock__executiveWrapper {
  position: relative; }
  .infoBlock__executiveWrapper .infoBlock__execRow {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .infoBlock__executiveWrapper .infoBlock__execImageWrapper {
    position: relative;
    width: 20%;
    padding-bottom: 24.5%; }
  .infoBlock__executiveWrapper .infoBlock__execImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execFader {
      opacity: 0.8; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execName {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execPosition {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execYear {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execSocial {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execFader {
      position: absolute;
      background-color: #F5F9Fc;
      opacity: 0;
      transition: opacity 0.2s;
      height: 100%;
      width: 100%;
      z-index: 0; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execName {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1;
      pointer-events: none;
      color: #45526B;
      font-weight: 600; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execPosition {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1;
      pointer-events: none;
      color: #45526B; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execYear {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1;
      pointer-events: none;
      color: #45526B; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execSocial {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1; }
      .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execSocial i {
        font-size: 1.5em;
        color: #45526B; }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--President {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3942.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--VP_Ops {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3865.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--Director_website {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3875.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--Director_graphics1 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3889.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis1 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3807.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis2 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3822.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis3 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3834.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis4 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3844.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis5 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3850.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis6 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3851.jpg"); }

.columnWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 400px; }
  .columnWrapper .form {
    flex: 2;
    height: 100%; }
    .columnWrapper .form .infoBlock__paragraph {
      margin-top: 0px; }
  .columnWrapper .map {
    flex: 2;
    height: 100%; }

#googleMaps {
  width: 100%;
  height: 100%; }

.bannerImage .bannerImage__image.bannerImage__image--teams {
  background-image: url("../img/Combat/Cover Photo.jpg");
  background-position: 50% 30%; }

.flexContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  width: 80%;
  margin-top: 20px; }
  .flexContainer .teamContainer {
    height: 300px;
    width: 400px;
    background-color: #F5F9Fc;
    margin: 10px; }

.eventsCalendar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #D2DCE5; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Abel', sans-serif;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */
