---
permalink: /about.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | About Us</title>

	{% include resources.html %}

	<!-- load images -->
	<link rel="preload" href="{{ site.baseurl }}/assets/img/UTRA Exec Photoshoot 171120/DSC_4016.jpg" as="image">
	
</head>
<body>
	<header class="header header--aboutActive">{% include header.html %}</header>

	<div class="bannerImage">
		<div class="bannerImage__textBlock">
			<h1 class="textBlock__titleText">ABOUT US</h1>
		</div>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image bannerImage__image--about"></div>
	</div>


	<div class="aboutPageWrapper">
		<nav class="sideMenu">
			<h3 class="sideMenu__titleText">ABOUT</h3>
			<ul class="sideMenu__list">
				<li id="whoWeAre__sideMenuMarker" class="sideMenu__menuItem">Who we are</li>
				<li id="execTeam__sideMenuMarker" class="sideMenu__menuItem">Executive Team</li>
				<li id="pastExecs__sideMenuMarker" class="sideMenu__menuItem">Past Execs</li>
				<li id="contactUs__sideMenuMarker" class="sideMenu__menuItem">Contact Us</li>
			</ul>
		</nav>
		
		<div class="infoBlock">
			<div id="whoWeAre_positionMarker"class="infoBlock__title infoBlock__title--caption">We Build Robots, you can too</div>
			<p class="infoBlock__paragraph">UTRA is the face of robotics at the University of Toronto. We design and build robots to compete in international competitions like RoboGames and the Intelligent Ground Vehicle Competition, among others. We have five different subteams that work independently and also host talks and workshops. Our mission is to foster interest in robotics and teach anybody who is interested all that they need to know to be able to contribute.</p>
			<div class="infoBlock__title">History</div>
			<p class="infoBlock__paragraph">The U of T Robotics Association (UTRA) was created in the fall of 2004 by four engineering students passionate about building robots. Inspired by the spectacle of BattleBots—a thrilling show in which contestants build robots to engage in all-out battle—the founding group of UTRA students set their sights on Combat Robotics. After a few years of training and team development, UTRA battled at RoboGames for the first time in 2006. In the following years, they made many appearances and won several gold and bronze medals in the process.</p>
			<p class="infoBlock__paragraph">With the momentum of success at RoboGames, UTRA expanded to new projects—the Autonomous Firefighter Robot and RoboSoccer—and it obtained space and partnerships with external organizations, such as TD and the Engineering Society. UTRA joined with UTAIR, the U of T Artificial Intelligence and Robotics club, to work together on the Firefighter project, while Combat remained UTRA’s flagship team.</p>
			<p class="infoBlock__paragraph">In 2008, under new leadership, UTRA established the Sumo program, fostering spirited in-house competition among teams and a strong learning experience for beginners. In a consolidation of the Firefighter and RoboSoccer teams, the Autonomous Rover Team (ART) was founded, and ART has since built a fully functional autonomous rover and participated in several international competitions.</p>
			<p class="infoBlock__paragraph">In 2010, recognizing the rapid advances in 3D printing and their importance to manufacturing and other fields, UTRA created a fourth team dedicated to this technology. Initially coined the RepRap team, UTRA 3DP built a Mini-Kossel 3D Printer and continues to keep up with the most recent developments in the field. Finally, in 2014, UTRA initiated the Top Secret Project, rounding out the five subteams that the club is comprised of today.</p>
			<div id="currentExecTeam_positionMarker" class="infoBlock__title">Current Executive Team</div>
			<div class="infoBlock__executiveWrapper">
				<div class='infoBlock__execSectionTitle'>Admin</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--MichaelR"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Michael Ruan</div>
							<div class="infoBlock__execPosition">President</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Kailin"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Kailin Hong</div>
							<div class="infoBlock__execPosition">VP Partnership</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--JasonY"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Jason Yuan</div>
							<div class="infoBlock__execPosition">VP Internal</div>
							<div class="infoBlock__execYear">ENGSCI 2T2</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Helen"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Helen Wang</div>
							<div class="infoBlock__execPosition">VP Communications</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
			
				</div>
				<div class='infoBlock__execSectionTitle'>Directors</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Sarah Khan</div>
							<div class="infoBlock__execPosition">Webmaster</div>
							<div class="infoBlock__execYear">MECH 2T3T1 + PEY</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Aditi Maheshwari</div>
							<div class="infoBlock__execPosition">Marketing</div>
							<div class="infoBlock__execYear">ECE 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Selina Wan</div>
							<div class="infoBlock__execPosition">Marketing</div>
							<div class="infoBlock__execYear">EngSci 2T2</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Daniel Ding</div>
							<div class="infoBlock__execPosition">Graphics Design</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Shashwat"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Shashwat Panwar</div>
							<div class="infoBlock__execPosition">Graphics Design</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Eric Wang</div>
							<div class="infoBlock__execPosition">Sponsorship & Finance</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Joy Liu</div>
							<div class="infoBlock__execPosition">Sponsorship & Finance</div>
							<div class="infoBlock__execYear">ECE 2T0</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--BaoTian"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Bao Tian Fu</div>
							<div class="infoBlock__execPosition">Treasurer</div>
							<div class="infoBlock__execYear">ECE 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
				</div>
				<div class='infoBlock__execSectionTitle'>Team Leads</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Chloe"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Chloe Shao</div>
							<div class="infoBlock__execPosition">Fabrication</div>
							<div class="infoBlock__execYear">Mech 2T0 + PEY</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Matthew"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Matthew Lourenco</div>
							<div class="infoBlock__execPosition">Fabrication</div>
							<div class="infoBlock__execYear">ECE 2T2</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Trudie"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Trudie Cheung</div>
							<div class="infoBlock__execPosition">ART</div>
							<div class="infoBlock__execYear">EngSci 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Rishikesh"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Rishikesh Devsot</div>
							<div class="infoBlock__execPosition">ART</div>
							<div class="infoBlock__execYear">ECE 2T0 + PEY</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Sarp"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Sarp Kavalcioglu</div>
							<div class="infoBlock__execPosition">Combat</div>
							<div class="infoBlock__execYear">ECE 2T0 + PEY</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Michelle Ji</div>
							<div class="infoBlock__execPosition">Combat</div>
							<div class="infoBlock__execYear">Mech 2T0 + PEY</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Jason Li</div>
							<div class="infoBlock__execPosition">Combat</div>
							<div class="infoBlock__execYear"></div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Bobby Graydon</div>
							<div class="infoBlock__execPosition">Combat</div>
							<div class="infoBlock__execYear"></div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--JasonY"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Jason Yuan</div>
							<div class="infoBlock__execPosition">SUMO</div>
							<div class="infoBlock__execYear">EngSci 2T2</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Jessica Cui</div>
							<div class="infoBlock__execPosition">SUMO</div>
							<div class="infoBlock__execYear">Mech 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Hunter"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Hunter Huang</div>
							<div class="infoBlock__execPosition">SUMO</div>
							<div class="infoBlock__execYear">Mech 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Nam Nguyen</div>
							<div class="infoBlock__execPosition">Robot Soccer</div>
							<div class="infoBlock__execYear">ECE 1T9 + PEY</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="infoBlock__execRow">
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Maytham Mahroos</div>
							<div class="infoBlock__execPosition">Robot Soccer</div>
							<div class="infoBlock__execYear">ECE 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Filler"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Tiffany Yau</div>
							<div class="infoBlock__execPosition">Pacbot</div>
							<div class="infoBlock__execYear"></div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Yuxuan"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Yuxuan Yao</div>
							<div class="infoBlock__execPosition">Hackathon</div>
							<div class="infoBlock__execYear">ECE 2T1</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
					<div class="infoBlock__execImageWrapper">
						<div class="infoBlock__execImage infoBlock__execImage--Jennie"></div>
						<div class="infoBlock__execFader">
							<div class="infoBlock__execName">Jennie Hu</div>
							<div class="infoBlock__execPosition">Hackathon</div>
							<div class="infoBlock__execYear">ECE 2T0</div>
							<div class="infoBlock__execSocial">
								<i class="icon ion-social-linkedin-outline"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="pastExec_positionMarker" class="infoBlock__title">Past Executive Teams</div>
			<div class="infoBlock__pastExectiveWrapper">
				<div class="accordionWrapper">
					<div class="accordionElement">
						<h1 class="accordion__title">2019 - 2020</h1>
						<div class="accordion__contentWrapper">
							<p class="accordion__contentTitle">Admin</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Michael Ruan</div>
								<div class="execMember__role">President</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Kailin Hong</div>
								<div class="execMember__role">VP Operations</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Zoe Wen</div>
								<div class="execMember__role">VP Partnerships</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Helen Wang</div>
								<div class="execMember__role">VP Communications</div>
							</div>
							<p class="accordion__contentTitle">Directors</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Johnny Zou</div>
								<div class="execMember__role">Webmaster</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Aditi Maheshwari</div>
								<div class="execMember__role">Marketing</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Selina Wan</div>
								<div class="execMember__role">Marketing</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Daniel Ding</div>
								<div class="execMember__role">Graphics Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Shashwat Panwar</div>
								<div class="execMember__role">Graphics Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Eric Wang</div>
								<div class="execMember__role">Sponsorship & Finance</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Joy Liu</div>
								<div class="execMember__role">Sponsorship & Finance</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Bao Tian Fu</div>
								<div class="execMember__role">Treasurer</div>
							</div>
							<p class="accordion__contentTitle">Team Leads</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Chloe Shao</div>
								<div class="execMember__role">Fabrication</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Matthew Lourenco</div>
								<div class="execMember__role">Fabrication</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Trudie Cheung</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Rishikesh Devsot</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Sarp Kavalcioglu</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Michelle Ji</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jason Li</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Bobby Graydon</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jason Yuan</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jessica Cui</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Hunter Huang</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Nam Nguyen</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Maytham Mahroos</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Tiffany Yau</div>
								<div class="execMember__role">Pacbot</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Yuxuan Yao</div>
								<div class="execMember__role">Hackathon</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jennie Hu</div>
								<div class="execMember__role">Hackathon</div>
							</div>
						</div>
					</div>
					<div class="accordionElement">
						<h1 class="accordion__title">2018 - 2019</h1>
						<div class="accordion__contentWrapper">
							<p class="accordion__contentTitle">Admin</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Crystal Liu</div>
								<div class="execMember__role">President</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Khaled Khalil</div>
								<div class="execMember__role">VP Operations</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Larry Kei</div>
								<div class="execMember__role">VP Partnerships</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Syed Kamran</div>
								<div class="execMember__role">VP Communications</div>
							</div>
							<p class="accordion__contentTitle">Directors</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Johnny Zou</div>
								<div class="execMember__role">Webmaster</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Zoe Wen</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Raman Mangla</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Paul D'Pong</div>
								<div class="execMember__role">Sponsorship & Finance</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Helen (Yiru) Wang</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Yuxuan Yao</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Bao Tian Fu</div>
								<div class="execMember__role">Treasurer</div>
							</div>
							<p class="accordion__contentTitle">Team Leads</p>
							<div class="accordion__execMember">
								<div class="execMember__name">James Xu</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Rishikesh Devsot</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Sarp Kavalcioglu</div>
								<div class="execMember__role">Light Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Michelle Ji</div>
								<div class="execMember__role">Light Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Crystal Liu</div>
								<div class="execMember__role">Heavy Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Michael Ding</div>
								<div class="execMember__role">Heavy Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Chloe Shao</div>
								<div class="execMember__role">3DP</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jiyu Nam</div>
								<div class="execMember__role">3DP</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Katie Chiang</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Michael Ruan</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Kailin Hong</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Farwa Khan</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jason Wang</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Shahryar Rajabzadeh</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Daniel Campo</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Tyler Gamvrelis</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Edward Luo</div>
								<div class="execMember__role">PacBot</div>
							</div>
						</div>
					</div>
					<div class="accordionElement">
						<h1 class="accordion__title">2017 - 2018</h1>
						<div class="accordion__contentWrapper">
							<p class="accordion__contentTitle">Admin</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Michelle Leung</div>
								<div class="execMember__role">President</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Gallop Fan</div>
								<div class="execMember__role">VP Operations</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Crystal Liu</div>
								<div class="execMember__role">VP Partnerships</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Syed Kamran</div>
								<div class="execMember__role">VP Communications</div>
							</div>
							<p class="accordion__contentTitle">Directors</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Johnny Zou</div>
								<div class="execMember__role">Webmaster</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Zoe Wen</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Yudian Shi</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<p class="accordion__contentTitle">Team Leads</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Brian Aly</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Oleg Milyutin</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jessie Hu</div>
								<div class="execMember__role">Light Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Ganeshan Sivakumaran</div>
								<div class="execMember__role">Light Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Crystal Liu</div>
								<div class="execMember__role">Heavy Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Wesley Heung</div>
								<div class="execMember__role">3DP</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Charles Bullingham</div>
								<div class="execMember__role">3DP</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Abhishek Arya</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Khaled Khalil</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Susan Wang</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jason Wang</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Shahryar Rajabzadeh</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
						</div>
					</div>
					<div class="accordionElement">
						<h1 class="accordion__title">2016 - 2017</h1>
						<div class="accordion__contentWrapper">
							<p class="accordion__contentTitle">Admin</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Gallop Fan</div>
								<div class="execMember__role">President</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Michelle Leung</div>
								<div class="execMember__role">VP Operations</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Crystal Liu</div>
								<div class="execMember__role">VP Partnerships</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Syed Kamran</div>
								<div class="execMember__role">VP Communications</div>
							</div>
							<p class="accordion__contentTitle">Directors</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Chokpisit Kasemphaibulsuk</div>
								<div class="execMember__role">Treasurer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Larry Kei</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Tabitha Maeda</div>
								<div class="execMember__role">Marketing & Graphic Design</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Wesley Heung</div>
								<div class="execMember__role">Website & Social Media</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Kathryn Yu</div>
								<div class="execMember__role">Website & Social Media</div>
							</div>

							<div class="accordion__execMember">
								<div class="execMember__name">Lidia Injac</div>
								<div class="execMember__role">Robinar & Business Dev</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Kasra Koushan</div>
								<div class="execMember__role">Robinar & Business Dev</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Oishe Farhan</div>
								<div class="execMember__role">Sponsorship & Finance</div>
							</div>
							<p class="accordion__contentTitle">Team Leads</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Brian Aly</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Charles Bullingham</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Albert Liu</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Alan Stagg</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Dhruv Chawla</div>
								<div class="execMember__role">3DP</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Oreoluwa Kolade</div>
								<div class="execMember__role">3DP</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Reem Tawfik</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Kevin He</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Mahsa Naserifar</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Sabrina Lokman</div>
								<div class="execMember__role">Robot Soccer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Gallop Fan</div>
								<div class="execMember__role">UTRA X</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Arkady Arkhangorodsky</div>
								<div class="execMember__role">UTRA X</div>
							</div>
						</div>
					</div>
					<div class="accordionElement">
						<h1 class="accordion__title">2015 - 2016</h1>
						<div class="accordion__contentWrapper">
							<p class="accordion__contentTitle">Admin</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Adam Chan</div>
								<div class="execMember__role">Co-President</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Jason Wang</div>
								<div class="execMember__role">VP External</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Chiora Mba-Uzoukwu</div>
								<div class="execMember__role">VP Internal</div>
							</div>
							<p class="accordion__contentTitle">Directors</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Akshaya Sekar</div>
								<div class="execMember__role">Treasurer</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Abe Ratnofsky</div>
								<div class="execMember__role">Marketing Director</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Crystal Liu</div>
								<div class="execMember__role">Sponsorship</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Clare Kim</div>
								<div class="execMember__role">Sponsorship</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Harley Lee</div>
								<div class="execMember__role">Sponsorship</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Arkady Arkhangorodsky</div>
								<div class="execMember__role">Webmaster</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Kasra Koushan</div>
								<div class="execMember__role">Archivist</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Andrew Romano</div>
								<div class="execMember__role">Technical Lead for Robonars</div>
							</div>
							<p class="accordion__contentTitle">Team Leads</p>
							<div class="accordion__execMember">
								<div class="execMember__name">Chengran (Harvey) Zhang</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Sandro Young</div>
								<div class="execMember__role">ART</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Liam Horrigan</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Andrew Effat</div>
								<div class="execMember__role">Combat</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Michelle Leung</div>
								<div class="execMember__role">RepRap</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Dhruv Chawla</div>
								<div class="execMember__role">RepRap</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Aron Sankar</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Gallop Fan</div>
								<div class="execMember__role">SUMO</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Tim Tang</div>
								<div class="execMember__role">Top Secret</div>
							</div>
							<div class="accordion__execMember">
								<div class="execMember__name">Paul Seufert</div>
								<div class="execMember__role">Top Secret</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div id="contactUs_positionMarker" class="infoBlock__title">Get In Touch</div>
			<div class="infoBlock__paragraph infoBlock__paragraph--center">Come check us out in Room 015D of the Myhal Centre for Engineering Innovation and Entrepreneurship!
			<br>
			MY 015D at 55 St George St, Toronto, ON M5S 1A4
			</div>
			<div class="map">
				<div id="googleMaps"></div>
			</div>
			<!-- <div class="columnWrapper">
				<div class="form">
					<div class="infoBlock__paragraph">Come check us out in Room 106 of the Engineering Annex
						<br>
						Room#106 11 King's College Road, M55 1A4
					</div>
					<form id="gform" method="POST" action="https://script.google.com/a/utra.ca/macros/s/AKfycbxol9LQ45A8CKClojWzPmqFXyGeApebNYyc-a5c2yqFO7EsSdA/exec" data-email="johnny.zou@mail.utoronto.ca">
						<label>Name</label>
						<input name="name" type="text">
						<br>
						<label>To :</label>
						<select id="emailTo" name="department">
							<option value ="General Inquiries">General Inquiries</option>
							<option value ="Autonomous Rover Team">Autonomous Rover Team</option>
							<option value ="Combat">Combat</option>
							<option value ="3D Printing">3D Printing</option>
							<option value ="SUMO">SUMO</option>
							<option value ="RoboSoccer">RoboSoccer</option>
							<option value ="Top Secret">Top Secret</option>
						</select>
						<br>
						<label>Email</label>
						<input name="email" type="text">
						<br>
						<label>Message</label>
						<br>
						<textarea name="message" rows="10" cols="30"></textarea>
						<br><br>
						<input type="submit">
					</form>

					<div style="display:none;" id="thankyou_message">
						<h1>thanks</h1>
					</div>
				</div> -->
				
			<!-- </div> -->
		</div>
	</div>
	

	<footer>
		{% include footer.html %}
	</footer>

	<!-- scripts -->
	<!-- <script data-cfasync="false" type="text/javascript" src=".{{ site.baseurl }}/assets/js/formSubmission.js"></script> -->
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/aboutPage.js'></script>
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/accordion.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQQ04VdU2UMEk81eM3kryWP4JrC65Lz5g&libraries=places&callback=initMap"
    async defer></script>

</body>
</html>
