---
permalink: /events.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Teams</title>

	{% include resources.html %}



</head>
<body>
	<header class="header header--eventsActive header--noScroll">{% include header.html %}</header>

	<!-- <div class="bannerImage">
		<h1 class="bannerImage__titleText">ABOUT</h1>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image aboutImage"></div>
	</div> -->

	<div class="eventsCalendar">
		<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;src=robonar%40utra.ca&amp;ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>

	<footer id="mainFooter">{% include footer.html %}</footer>

	<!-- javascript files -->
	<script type="text/javascript" src='./assets/js/eventPage.js'></script>

</body>
</html>