---
permalink: /events.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Events</title>

	{% include resources.html %}

</head>
<body>
	<header class="header header--eventsActive header--noScroll">{% include header.html %}</header>

	<!-- <div class="bannerImage">
		<h1 class="bannerImage__titleText">ABOUT</h1>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image aboutImage"></div>
	</div> -->

	<div class="shortBanner">
		<h1 class="shortBanner__titleText">Calendar</h1>
		<div class="shortBanner__content">
			<p>Check check us out at weekly events!</p>
		</div>
	</div>

	<section class="section__pageDescription">
		<p>In addition to the work that our subteams do, we also host talks, workshops, and more throughout the year. These can be a great way to dip your toes into UTRA if you aren’t sure whether or not to commit to joining a team.
		</p>
	</section>

	<section class="section__eventsCalendar">
		<iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;src=robonar%40utra.ca&amp;ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

	<!-- javascript files -->
	<script type="text/javascript" src='./assets/js/eventPage.js'></script>

</body>
</html>