---
permalink: /faq.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | FAQ</title>

	{% include resources.html %}

</head>
<body>
	<header class="header header--faqActive header--noScroll">{% include header.html %}</header>

	<!-- <div class="bannerImage">
		<h1 class="bannerImage__titleText">ABOUT</h1>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image aboutImage"></div>
	</div> -->

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">FAQ</h1>
		<div class="shortBanner__content">
			<p>Commonly asked questions</p>
		</div>
	</div>
    <!-- <div class="aboutPageWrapper"> -->
        <div style="background-color: white;">
            <div class="infoBlock__pastExectiveWrapper">
                <div class="accordionWrapper">
                    <div class="accordionElement">
                        <h1 class="accordion__title">How do I join UTRA as a general member?</h1>
                        <div class="accordion__contentWrapper">
                            <div class="faq__contentWrapper">
                                <p>To join UTRA as a general member, click the "Get Involved" tab in the nav bar, or fill out <a href="https://forms.gle/EujDZp6rXsqmxZWS7">this form here</a>!</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordionElement">
                        <h1 class="accordion__title">How do I sponsor UTRA?</h1>
                        <div class="accordion__contentWrapper">
                            <div class="faq__contentWrapper">
                                <p>To sponsor UTRA, please send an email to the <a href="mailto:admin@utra.ca">UTRA admin email</a>, and one of our administrators will send further steps.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordionElement">
                        <h1 class="accordion__title">Where can I find the UTRA constitution?</h1>
                        <div class="accordion__contentWrapper">
                            <div class="faq__contentWrapper">
                                <a href="/../assets/pdfs/UTRA Constitution.pdf">
                                    <p class="constitution_text">
                                        Read the UTRA Constitution
                                    </p>
                                </a>
                                <p>Last updated: July 2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordionElement">
                        <h1 class="accordion__title">What types of teams does UTRA have?</h1>
                        <div class="accordion__contentWrapper">
                            <div class="faq__contentWrapper">
                                <p>UTRA has a wide variety of teams, requiring a diverse range of students. A list of teams can be found <a href="/teams">here</a>. We encourage all students, regardless of discipline or skillset, to check out our teams!</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>    
    <!-- </div> -->

    <footer>
		{% include footer.html %}
	</footer>

	<!-- scripts -->
	<!-- <script data-cfasync="false" type="text/javascript" src=".{{ site.baseurl }}/assets/js/formSubmission.js"></script> -->
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/aboutPage.js'></script>
	<script type="text/javascript" src='{{ site.baseurl }}/assets/js/accordion.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQQ04VdU2UMEk81eM3kryWP4JrC65Lz5g&libraries=places&callback=initMap"
    async defer></script>


</body>
</html>