---
permalink: /sponsors.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Sponsors</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--sponsorsActive header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Sponsors</h1>
		<div class="shortBanner__content">
			<div class="shortBanner__socialContainer">
				<div class="socialIconCircle">
					<i class="fa fa-heart"></i>
				</div>
			</div>
		</div>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p> UTRA is supported by a strong network of educational and professional institutions, and individuals within the University of Toronto, but it also relies heavily on the generous corporate donors that make its work possible. In addition to immeasurable benefits gained by students, corporate sponsors are given the opportunity to collaborate with one of the leading universities in world, and have its title represented within the community and internationally.
		</p>
	</section>

	<section class="section__sponsors section--backgroundAlternate">
		<h1 class="section__Title"> Our Amazing Sponsors</h1>

		<div class="sponsorList">
			<!-- Tier 1 -->
<!-- 			<div class="sponsorList__tier1">
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
			</div> -->

			<!-- Tier 2 -->
			<div class="sponsorList__tier2">
				<a class="sponsorList__img sponsorList__img--thePint" href="http://toronto.thepint.ca">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png" alt="The Pint">
				</a>
				<a class="sponsorList__img sponsorList__img--dremel" href="https://digilab.dremel.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/Dremel-Digilab.png" alt="Dremel">
				</a>
				<a class="sponsorList__img sponsorList__img--leap" href="https://www.leapmotion.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/leap.png" alt="Leap">
				</a>
				<a class="sponsorList__img sponsorList__img--particle" href="https://www.particle.io/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/particle.png" alt="Particle">
				</a>
				<a class="sponsorList__img sponsorList__img--fdm" href="https://www.fdmgroup.com/en-ca/ca-home/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/FDM group.jpg" alt="FDM Group">
				</a>
				<a class="sponsorList__img sponsorList__img--qualcomm" href="https://www.qualcomm.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/Qualcomm.png" alt="Qualcomm">
				</a>
			
			</div>
			<!-- Tier 3-->
			<div class="sponsorList__tier3">
				<a class="sponsorList__img" href="https://www.aoyue.eu/?___store=english&___from_store=english">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/aoyue.jpg" alt="Aoyue">
				</a>
				<a class="sponsorList__img" href="https://estimote.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/estimote.png" alt="Estimote">
				</a>
				<a class="sponsorList__img" href="https://www.irobot.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/irobot.png" alt="irobot">
				</a>
				<!-- <a class="sponsorList__img" href="http://toronto.thepint.ca/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/pintlogo.png" alt="Pint">
				</a> -->
				<a class="sponsorList__img" href="https://www.google.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/google.png" alt="Google">
				</a>
				<a class="sponsorList__img" href="https://www.solidworks.com/">
					<img src="{{ site.baseurl }}/assets/img/hackathonIcons/sponsors/solidworks.png" alt="SolidWorks">
				</a>



				<a class="sponsorList__img" href="http://sm.mdacorporation.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/mda_logo.jpg" alt="MDA">
				</a>
			<!-- 	<a class="sponsorList__img" href="http://alumni.utoronto.ca/">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/skuleAlumni.jpg" alt="Skulealumni">
				</a> -->
				<a class="sponsorList__img" href="http://www.highstrengthplates.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/hspp.jpg" alt="High Strength Plates and Profiles">
				</a>
				<a class="sponsorList__img" href="http://www.eckertech.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/eckertech.jpg" alt="eckertech">
				</a>
				<a class="sponsorList__img" href="http://www.atmel.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/atmel.jpg" alt="Atmel">
				</a>
				<a class="sponsorList__img" href="http://www.dutchman.jpg">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/dutchman.jpg" alt="dutchman">
				</a>
				<a class="sponsorList__img" href="http://www.novatel.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/novatel_COL.gif" alt="novatel">
				</a>
				<a class="sponsorList__img" href="http://www.altium.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/altium.jpg" alt="Altium">
				</a>
<!-- 				<a class="sponsorList__img" href="http://www.mie.utoronto.ca">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/mie.jpg" alt="MIE">
				</a>
				<a class="sponsorList__img" href="http://engsoc.skule.ca">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/engsoc.jpg" alt="Skule Engineering Society">
				</a>
				<a class="sponsorList__img" href="http://engineering.utoronto.ca">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/UTengineering.jpg" alt="U of T Applied Science and Engineering">
				</a> -->
				<a class="sponsorList__img" href="http://tsubaki.ca">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/Tsubaki-Logo.jpg" alt="tsubaki">
				</a>
<!-- 				<a class="sponsorList__img" href="http://www.utias.utoronto.ca/">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/UTIAS.jpg" alt="UTIAS">
				</a> -->
				<a class="sponsorList__img" href="http://www.timbren.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/timbren-logo.gif" alt="Timbren">
				</a>
				<a class="sponsorList__img" href="http://www.carefreetire.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/carefreetire.jpg" alt="Carefree Tire">
				</a>
				<a class="sponsorList__img" href="http://www.ionlink.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/ionlink.jpg" alt="Ion Link">
				</a>
				<a class="sponsorList__img" href="http://www.pololu.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/pololu.jpg" alt="Pololu Robotics and electronics">
				</a>
				<a class="sponsorList__img" href="http://www.digikey.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/dk.jpg" alt="DigiKey">
				</a>
				<a class="sponsorList__img" href="http://www.crosslinktech.com">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/crosslink.png" alt="Cross Link Technology Inc">
				</a>
				<a class="sponsorList__img" href="http://www.3mcanada.ca">
					<img src="{{ site.baseurl }}/assets/img/Sponsors/3M-logo.png" alt="3M">
				</a>
			</div>
		</div>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>