---
permalink: /sponsors.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Sponsors</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--sponsorsActive header--noScroll">{% include header.html %}</header>

	<div class="shortBanner shortBanner--noPhoto">
		<h1 class="shortBanner__titleText">Sponsors</h1>
	</div>

	<section class="section__pageDescription section--backgroundAlternate">
		<p> UTRA is supported by a strong network of educational and professional institutions, and individuals within the University of Toronto, but it also relies heavily on the generous corporate donors that make its work possible. In addition to immeasurable benefits gained by students, corporate sponsors are given the opportunity to collaborate with one of the leading universities in world, and have its title represented within the community and internationally.
		</p>
	</section>

	<section class="section__sponsors section--backgroundAlternate">
		<h1 class="section__Title"> Our Amazing Sponsors</h1>

		<div class="sponsorList">
			<!-- Tier 1 -->
			<div class="sponsorList__tier1">
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
				<div class="sponsorList__tier1Item">
					<div class="sponsorList__tier1IMG">
						<img src="{{ site.baseurl }}/assets/img/Sponsors/ThePint.png">
					</div>
					<div class="sponsorList__tier1Description">
						<p>Ideally located next to the Rogers Centre, CN Tower and Union Station, The Pint Public House is a dynamic sports pub and versatile venue known across Canada for its 40 way sauces and 40 draught beers. This venue boasts 14,000 sq. ft in size, a DJ on weekend nights, dance floor, customizable A/V system, games, wheelchair accessibility and is a hot spot for events or watching sports. Partnering with UofT clubs means waived minimum spends and discounts to student groups. For assistance with planning group bookings feel free to contact: tatiana@thepint.com</p>
					</div>
				</div>
			</div>

			<!-- Tier 2 -->
		</div>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>