---
permalink: /sponsors.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Sponsors</title>

	{% include resources.html %}
	
</head>
<body>
	<header class="header header--sponsorsActive header--noScroll">{% include header.html %}</header>

	<div class="shortBanner">
		<h1 class="shortBanner__titleText">Sponsors</h1>
	</div>

	<section class="section__pageDescription">
		<p> UTRA is supported by a strong network of educational and professional institutions, and individuals within the University of Toronto, but it also relies heavily on the generous corporate donors that make its work possible. In addition to immeasurable benefits gained by students, corporate sponsors are given the opportunity to collaborate with one of the leading universities in world, and have its title represented within the community and internationally.
		</p>
	</section>

	<section class="section__sponsors">
		<h1 class="section__Title"> Our Amazing Sponsors</h1>

		<div class="sponsorList">
			<!-- Altium -->
			<a class="sponsorList__img" href="http://www.altium.com/">
				<!-- <div class="sponsorList__overley"></div> -->
				<img class="sponsorList__img--altrium" src="./assets/img/hackathonIcons/sponsors/altium.jpg" alt="Altium">
			</a>
			<!-- 3M Canada -->
			<a class="sponsorList__img" href="https://www.3mcanada.ca/3M/en_CA/company-ca/?utm_medium=redirect&utm_source=vanity-url&utm_campaign=www.3mcanada.ca/3M/en_CA/Country-CA/">
				<!-- <div class="sponsorList__overley"></div> -->
				<img class="sponsorList__img--3m" src="./assets/img/hackathonIcons/sponsors/3M-logo.png" alt="3M">
			</a>
			<!-- MDA corporation -->
			<a class="sponsorList__img" href="https://mdacorporation.com/">
				<!-- <div class="sponsorList__overley"></div> -->
				<img class="sponsorList__img--MDA" src="./assets/img/hackathonIcons/sponsors/mda_logo.jpg" alt="MDA">
			</a>
			<!-- Aoyue3d -->
			<!-- a href="http://www.aoyue3d.com/en/">
				<div class="sponsorList__overley"></div>
				<img class="sponsorList__img--aoyue" src="./assets/img/hackathonIcons/sponsors/3M-logo.png" alt="aoyue3d">
			</a> -->
			<!-- Solidworks -->
			<a class="sponsorList__img" href="http://www.solidworks.com/">
				<!-- <div class="sponsorList__overley"></div> -->
				<img class="sponsorList__img--solidworks" src="./assets/img/hackathonIcons/sponsors/solidworks.jpg" alt="solidworks">
			</a>
			<!-- Skule -->
			<!-- <a class="sponsorList__img" href="http://skule.ca/">
				<div class="sponsorList__overley"></div>
				<img class="sponsorList__img--skule" src="./assets/img/hackathonIcons/sponsors/3M-logo.png" alt="Skule">
			</a> -->
			<!-- MIE Toronto -->
			<a class="sponsorList__img" href="http://www.mie.utoronto.ca/">
				<!-- <div class="sponsorList__overley"></div> -->
				<img class="sponsorList__img--mie" src="./assets/img/hackathonIcons/sponsors/mie.jpg" alt="MIE">
			</a>
			<!-- Engineering U of T -->
			<a class="sponsorList__img" href="http://www.engineering.utoronto.ca/">
				<!-- <div class="sponsorList__overley"></div> -->
				<img class="sponsorList__img--UofTEng" src="./assets/img/hackathonIcons/sponsors/UTengineering.jpg" alt="Engineering U of T">
			</a>

		</div>
	</section>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>