---
permalink: /teams.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Teams</title>

	{% include resources.html %}

	
</head>
<body>
	<header class="header header--teamsActive">{% include header.html %}</header>

	<div class="bannerImage">
		<h1 class="bannerImage__titleText">OUR TEAMS</h1>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image bannerImage__image--teams"></div>
	</div>

	<div class="flexContainer">
		<div class="teamContainer"></div>
		<div class="teamContainer"></div>
		<div class="teamContainer"></div>
		<div class="teamContainer"></div>
		<div class="teamContainer"></div>
	</div>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>