---
permalink: /teams.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Teams</title>

	{% include resources.html %}

	
</head>
<body>
	<header class="header header--teamsActive">{% include header.html %}</header>

	<div class="bannerImage">
		<div class="bannerImage__textBlock">
			<h1 class="textBlock__titleText">OUR TEAMS</h1>
		</div>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image bannerImage__image--teams"></div>
	</div>

	<div class="flexContainer">
		<a href="{{ site.baseurl }}/teams/SUMO">
			<div class="teamContainer teamContainer--SUMO">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">SUMO</div>
					<div class="teamContainer__socialIconsContainer">
						<a href="https://www.facebook.com/groups/916027268773579">
							<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
						</a>
						<!-- <a href="https//www.facebook.com">
							<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
						</a> -->
					</div>
				</div>
			</div>
		</a>
		<div class="teamContainer teamContainer--ART">
			<a href="{{ site.baseurl }}/teams/ART">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">ART</div>
					<div class="teamContainer__socialIconsContainer">
						<!-- <div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
						<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div> -->
					</div>
				</div>
			</a>
		</div>
		<!-- <div class="teamContainer teamContainer--Fabrication">
			<a href="{{ site.baseurl }}/teams/fabrication">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">Fabrication</div>
					<div class="teamContainer__socialIconsContainer">
					</div>
				</div>
			</a>
		</div> -->
		<div class="teamContainer teamContainer--roboSoccer">
			<a href="https://utra-robosoccer.github.io/soccerbot/">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">RoboSoccer</div>
					<div class="teamContainer__socialIconsContainer">
						<!-- <div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
						<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div> -->
					</div>
				</div>
			</a>
		</div>
		<!-- <div class="teamContainer teamContainer--pacbot">
			<a href="{{ site.baseurl }}/teams/pacbot">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">PacBot</div>
					<div class="teamContainer__socialIconsContainer">
					</div>
				</div>
			</a>
		</div> -->
		<div class="teamContainer teamContainer--combat">
			<a href="{{ site.baseurl }}/teams/combat">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">Combat</div>
					<div class="teamContainer__socialIconsContainer">
						<!-- <div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
						<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="teamContainer teamContainer--robonars">
			<a href="{{ site.baseurl }}/teams/robonars">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">Robonars</div>
					<div class="teamContainer__socialIconsContainer">
						<!-- <div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
						<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div> -->
					</div>
				</div>
			</a>
		</div>
	</div>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>
