---
permalink: /teams.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | Our Teams</title>

	{% include resources.html %}

	
</head>
<body>
	<header class="header header--teamsActive">{% include header.html %}</header>

	<div class="bannerImage">
		<div class="bannerImage__textBlock">
			<h1 class="textBlock__titleText">OUR TEAMS</h1>
		</div>
		<div class="bannerImage__overley"></div>
		<div class="bannerImage__image bannerImage__image--teams"></div>
	</div>

	<div class="flexContainer">
		<a href="/teams/sumo">
			<div class="teamContainer teamContainer--SUMO">
				<div class="teamContainer__fader"></div>
				<div class="teamContainer__details">
					<div class="teamContainer__name">SUMO</div>
					<div class="teamContainer__socialIconsContainer">
						<a href="https://www.facebook.com">
							<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
						</a>
						<a href="https//www.facebook.com">
							<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
						</a>
					</div>
				</div>
			</div>
		</a>
		<div class="teamContainer teamContainer--ART">
			<div class="teamContainer__fader"></div>
			<div class="teamContainer__details">
				<div class="teamContainer__name">ART</div>
				<div class="teamContainer__socialIconsContainer">
					<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
					<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
				</div>
			</div>
		</div>
		<div class="teamContainer teamContainer--3DP">
			<div class="teamContainer__fader"></div>
			<div class="teamContainer__details">
				<div class="teamContainer__name">3DP</div>
				<div class="teamContainer__socialIconsContainer">
					<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
					<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
				</div>
			</div>
		</div>
		<div class="teamContainer teamContainer--roboSoccer">
			<div class="teamContainer__fader"></div>
			<div class="teamContainer__details">
				<div class="teamContainer__name">RoboSoccer</div>
				<div class="teamContainer__socialIconsContainer">
					<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
					<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
				</div>
			</div>
		</div>
		<div class="teamContainer teamContainer--heavyCombat">
			<div class="teamContainer__fader"></div>
			<div class="teamContainer__details">
				<div class="teamContainer__name">Heavy Combat</div>
				<div class="teamContainer__socialIconsContainer">
					<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
					<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
				</div>
			</div>
		</div>
		<div class="teamContainer teamContainer--lightCombat">
			<div class="teamContainer__fader"></div>
			<div class="teamContainer__details">
				<div class="teamContainer__name">Light Combat</div>
				<div class="teamContainer__socialIconsContainer">
					<div class="teamContainer__socialIcon"><i class="fa fa-facebook"></i></div>
					<div class="teamContainer__socialIcon"><i class="fa fa-slack"></i></div>
				</div>
			</div>
		</div>
	</div>

	<footer id="mainFooter">{% include footer.html %}</footer>

</body>
</html>